@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section01
*
-------------------------------------------------------------------------------- */
.section01 {

	height: 100vh;
	position: relative;
	overflow: hidden;
	
	// background: rgba(179,179,179,.3);
	
	/* --------------------------------------------------------------------------------
	*
	*   titWrap
	*
	-------------------------------------------------------------------------------- */
	.titWrap {

		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: vw375(38);
		margin-left: vw375(-11);
		
		margin-bottom: vw375(40);

		.tit {

			svg {
				width: vw375(171);
				height: vw375(103);
			}
		}

	}
	
	.list {
		padding: vw375(130) 0;
		margin-bottom: vw375(50);
		.item {
			margin-bottom: vw375(-20);
			text-align: center;
			svg {
				width: vw375(291);
				height: vw375(54);
			}
		}
	}

	/* --------------------------------------------------------------------------------
	*
	*   toTop
	*
	-------------------------------------------------------------------------------- */
	.toTop {
		text-align: center;
		svg {
			width: vw375(120);
			height: vw375(56);
		}
	}


	
}