@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section01
*
-------------------------------------------------------------------------------- */
.wrap {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.item {
  width: 50vw;
}
