<!-- ************************************************************
//  section01
// ************************************************************ -->
<% videoid = ["fAeflWCMM9M", "3zSDowkDziE", "AEPhT4rjox8"]; %>

<div class="wrap">
  <div class="list">
    <% for (let i = 0; i < 3; i++) { %>
    <div class="item js-item" data-videoid="<%- videoid[i]%>">
      <img src="../assets/resource/img/pic_0<%- i + 2 %>.jpg" alt="" />
    </div>
    <% } %>
  </div>

  <div class="video">
    <div id="player"></div>
  </div>
</div>
