.btn {
  width: 60px;
  height: 60px;
  background-color: #578d80;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 10px;
  }
}
