<!-- ************************************************************
//  section01
// ************************************************************ -->

<div class="wrap">
  <div class="square js-square"></div>
  <!-- <div class="btns">
    <div class="btns__btn btns__left js-square_left">左</div>
    <div class="btns__btn btns__right js-square_right">右</div>
  </div> -->
</div>
