/* --------------------------------------------------------------------------------
*
*   footer
*
-------------------------------------------------------------------------------- */
#footer {

	position: absolute;
	bottom: vw375(10);
	left: 50%;
	transform: translateX(-50%);
	
	z-index: 5;

	.copy {
		svg {
			width: vw375(191);
			height: vw375(5);
		}
	}

}