@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section01
*
-------------------------------------------------------------------------------- */
.section01 {

	/* --------------------------------------------------------------------------------
	*
	*   block05
	*
	-------------------------------------------------------------------------------- */
	.block05 {
		
		background: url(../resource/img_sp/material/pattern_block.png);
		background-size: 208px 208px;
		position: relative;
		
		text-align: center;
		
		padding: vw375(120, true) 0 vw375(140, true);
		
		@include min(769) {

			background: url(../resource/img_sp/material/pattern_block.png);
			// background-size: 415px 415px;
			background-size: 300px;
			
			// padding: vw(195px, 1440px) 0 vw(260px, 1440px);
			padding: 195px 0 195px;

		}


		.banner {

			padding-top: 15px;
			margin-bottom: 40px;
			
			.item {

				img {
					width: vw375(738, true);
					height: vw375(472, true);
				}
				
			}
			.item:nth-child(1) {
				margin-bottom: 20px;
			}

			@include min(769) {

				display: flex;
				justify-content: center;
				padding-top: 30px;
				margin-bottom: 70px;
				
				.item {
					margin: 0;
					margin-right: 23px;
					img {
						width: 458px;
						height: auto;
					}
				}
				.item:nth-child(2) {
					margin-right: 0;
				}

			}
		}
		
		.pipe {
			position: absolute;
			top: vw375(-72);
			left: 0;
			img {
				width: vw375(750, true);
				height: vw375(274, true);
			}

			// pc全体
			@include min(769) {

				top: -260px;
				left: 50%;
				transform: translateX(-50%);			
				
				img {
					width: 1700px;
					height: 382px;
				}
				
				// pc small
				@at-root (without: media) {
					@include minmax(769, 1200) {

						top: vw(-260px, 1200px);
						img {
							width: vw(1700px, 1200px);
							height: vw(382px, 1200px);
						}
						
					}
				}
				// pc large
				@at-root (without: media) {
					@include min(1700) {

						top: vw(-260px, 1700px);
						img {
							width: vw(1700px, 1700px);
							height: vw(382px, 1700px);
						}
						
					}
				}

			}
		}

		& > .tit {
			margin-bottom: vw375(70, true);
			svg {
				width: vw375(177, true);
				height: vw375(66, true);
				stroke: #542d71;
				stroke-width: 0.2px;
			}
			@include min(769) {
				// margin-bottom: vw(90px, 1440px);
				// svg {
				// 	width: vw(140px, 1440px);
				// 	height: vw(52px, 1440px);
				// 	stroke: rgba(84,45,113,.5);
				// 	stroke-width: .4px;
				// }
				margin-bottom: 90px;
				svg {
					width: 140px;
					height: 52px;
					stroke: rgba(84,45,113,.5);
					stroke-width: .4px;
				}
			}
		}
		
		.blockInner01 {

			position: relative;

			@include min(769) {
				// margin-bottom: vw(90px, 1440px);
				margin-bottom: 40px;
			}

			.items {
				position: absolute;
				left: 0;
				top: -130px;
				width: 100%;
				z-index: 2;
				
				display: none;
				
				@include min(769) {
					top: -335px;
				}
				
				.item {
					position: absolute;
					left: 0;
					top: 0;
					
					pointer-events: none;
				}

				.item:nth-child(1) {
					top: vw375(88);
					left: vw375(-21);
					img {
						width: vw375(152, true);
						height: vw375(145, true);
						margin-left: vw375(40);
					}
					@include min(769) {
						left: calc(50% - 562px);
						top: 256px;
						img {
							width: 130px;
							height: 125px;
							margin-left: 0;
						}					
					}
				}
				.item:nth-child(2) {
					top: vw375(220);
					left: vw375(297);
					img {
						width: vw375(179, true);
						height: vw375(281, true);
						margin-left: vw375(-40);
					}
					@include min(769) {
						left: calc(50% + 435px);
						top: 286px;
						img {
							width: 137px;
							height: 214px;
							margin-left: 0;
						}
					}
				}
				.item:nth-child(3) {
					top: vw375(410);
					left: vw375(-34);
					img {
						width: vw375(165, true);
						height: vw375(171, true);
						margin-left: vw375(40);
					}
					@include min(769) {
						left: calc(50% - 730px);
						top: 549px;
						img {
							width: 123px;
							height: 128px;
							margin-left: 0;
						}
					}
				}
				.item:nth-child(4) {
					top: vw375(607);
					left: vw375(296);
					img {
						width: vw375(208, true);
						height: vw375(187, true);
						margin-left: vw375(-40);
					}
					@include min(769) {
						left: calc(50% + 540px);
						top: 726px;
						img {
							width: 159px;
							height: 142px;
							margin-left: 0;
						}
					}
				}
				.item:nth-child(5) {
					top: vw375(740);
					left: vw375(-15);
					img {
						width: vw375(133, true);
						height: vw375(153, true);
						margin-left: vw375(40);
					}
					@include min(769) {
						top: 790px;
						left: calc(50% - 569px);
						img {
							width: 110px;
							height: 127px;
							margin-left: 0;
						}
					}
				}
			}

			.btns {
				.btn:nth-child(1) {
					.titWrap {
						.tit {
							svg {
								width: vw375(185, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(158px, 1440px);
									// height: vw(38px, 1440px);
									width: 158px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						@include min(769) {
							letter-spacing: -0.05em;
						}
					}
				}
				.btn:nth-child(2) {
					.titWrap {
						.tit {
							svg {
								width: vw375(220, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(188px, 1440px);
									// height: vw(38px, 1440px);
									width: 188px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						letter-spacing: -0.05em;
					}
				}
				.btn:nth-child(3) {
					.titWrap {
						.tit {
							svg {
								width: vw375(225, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(192px, 1440px);
									// height: vw(38px, 1440px);
									width: 192px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						letter-spacing: -0.08em;
						@include min(769) {
							letter-spacing: -0.1em;
						}
					}
				}
				.btn:nth-child(4) {
					.titWrap {
						.tit {
							svg {
								width: vw375(203, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(173px, 1440px);
									// height: vw(38px, 1440px);
									width: 173px;
									height: 38px;
								}
							}
						}
					}
				}
				.btn:nth-child(5) {
					.titWrap {
						.tit {
							svg {
								width: vw375(212, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(181px, 1440px);
									// height: vw(38px, 1440px);
									width: 181px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						@include min(769) {
							letter-spacing: -0.05em;
						}
					}
				}
				.btn:nth-child(6) {
					.titWrap {
						.tit {
							svg {
								width: vw375(212, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(181px, 1440px);
									// height: vw(38px, 1440px);
									width: 181px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						@include min(769) {
							letter-spacing: -0.05em;
						}
					}
				}
				.btn:last-child {
    				margin-bottom: vw375(40);
				}

				@include min(769) {

					// display: flex;
					// align-items: center;
					// width: calc(#{vw(453px, 1440px)} * 2 + #{vw(30px, 1440px)});
					// flex-wrap: wrap;
					// margin: 0 auto;
					// justify-content: space-between;
					
					// .btn:last-child {
	    // 				margin-bottom: vw(30px, 1440px);	    				
					// }
					display: flex;
					align-items: center;
					width: calc(453px * 2 + 30px);
					flex-wrap: wrap;
					margin: 0 auto;
					justify-content: space-between;
					
					.btn:last-child {
	    				margin-bottom: 30px;
					}

				}
			}
		}

		.img01 {
			margin-bottom: vw375(30);
			img {
				width: vw375(750, true);
				height: vw375(264, true);
			}

			// pc全体
			@include min(769) {

				display: flex;
				justify-content: center;
				margin-bottom: 0;

				img {
					width: 1700px;
					height: 462px;
					flex: 0 0 auto;
				}
				
				// pc small
				@at-root (without: media) {
					@include minmax(769, 1200) {
						
					}
				}
				// pc large
				@at-root (without: media) {
					@include min(1700) {

						img {
							width: vw(1700px, 1700px);
							height: vw(462px, 1700px);
						}
						
					}
				}

			}
		}

		.blockInner02 {

			position: relative;
			
			// pc全体
			@include min(769) {

				margin-top: -110px;
				
				// pc small
				@at-root (without: media) {
					@include minmax(769, 1200) {
						
					}
				}
				// pc large
				@at-root (without: media) {
					@include min(1700) {

						margin-top: vw(-110px, 1700px)
						
					}
				}

			}

			.items {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				z-index: 2;
				
				display: none;
				
				.item {
					position: absolute;
					left: 0;
					top: 0;
					
					pointer-events: none;
				}

				.item:nth-child(1) {
					left: vw375(307);
					top: vw375(60);
					img {
						width: vw375(234, true);
						height: vw375(200, true);
						margin-left: vw375(-40);
					}
					@include min(769) {
						top: -60px;
						left: calc(50% + 440px);
						img {
							width: 189px;
							height: 162px;
							margin-right: 0;margin-left: 0;
						}
					}
				}
				.item:nth-child(2) {
					left: vw375(-50);
					top: vw375(250);
					img {
						width: vw375(228, true);
						height: vw375(202, true);
						margin-left: vw375(40);
					}
					@include min(769) {
						top: 650px;
						left: calc(50% - 590px);
						img {
							width: 155px;
							height: 137px;
							margin-left: 0;
						}
					}
				}
				.item:nth-child(3) {
					left: vw375(290);
					top: vw375(400);
					img {
						width: vw375(311, true);
						height: vw375(211, true);
						margin-left: vw375(-40);
					}
					@include min(769) {
						top: 470px;
						left: calc(50% + 567px);
						img {
							width: 244px;
							height: 151px;
							margin-left: 0;
						}
					}
				}
				.item:nth-child(4) {
					top: vw375(607);
					left: vw375(-28);
					img {
						width: vw375(165, true);
						height: vw375(131, true);
						margin-left: vw375(40);
					}
					@include min(769) {
						top: 250px;
						left: calc(50% - 650px);
						img {
							width: 112px;
							height: 88px;
							margin-left: 0;
						}
					}
				}
				.item:nth-child(5) {
					left: vw375(320);
					top: vw375(890);
					img {
						width: vw375(127, true);
						height: vw375(113, true);
						margin-left: vw375(-40);
					}
					@include min(769) {
						top: 886px;
						left: calc(50% + 460px);
						img {
							width: 85px;
							height: 76px;
							margin-left: 0;
						}
					}
				}
			}

			.btns {
				.btn:nth-child(1) {
					.titWrap {
						.tit {
							svg {
								width: vw375(172, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(147px, 1440px);
									// height: vw(38px, 1440px);
									width: 147px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						@include min(769) {
							letter-spacing: -0.05em;
						}
					}
				}
				.btn:nth-child(2) {
					.titWrap {
						.tit {
							svg {
								width: vw375(167, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(143px, 1440px);
									// height: vw(38px, 1440px);
									width: 143px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						letter-spacing: -0.07em;
						@include min(769) {
							letter-spacing: -0.09em;
						}
					}
				}
				.btn:nth-child(3) {
					.titWrap {
						.tit {
							svg {
								width: vw375(118, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(101px, 1440px);
									// height: vw(38px, 1440px);
									width: 101px;
									height: 38px;
								}
							}
						}
					}
				}
				.btn:nth-child(4) {
					.titWrap {
						.tit {
							svg {
								width: vw375(177, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(151px, 1440px);
									// height: vw(38px, 1440px);
									width: 151px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						letter-spacing: -0.05em;
					}
				}
				.btn:nth-child(5) {
					.titWrap {
						.tit {
							svg {
								width: vw375(203, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(173px, 1440px);
									// height: vw(38px, 1440px);
									width: 173px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						letter-spacing: -0.05em;
					}
				}
				.btn:nth-child(6) {
					.titWrap {
						.tit {
							svg {
								width: vw375(180, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(154px, 1440px);
									// height: vw(38px, 1440px);
									width: 154px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						letter-spacing: -0.05em;
					}
				}
				.btn:nth-child(7) {
					.titWrap {
						.tit {
							svg {
								width: vw375(384, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(328px, 1440px);
									// height: vw(38px, 1440px);
									width: 328px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						letter-spacing: -0.07em;
						@include min(769) {
							letter-spacing: -0.09em;
						}
					}
				}
				.btn:nth-child(8) {
					.titWrap {
						.tit {
							svg {
								width: vw375(163, true);
								height: vw375(45, true);
								@include min(769) {
									// width: vw(139px, 1440px);
									// height: vw(38px, 1440px);
									width: 139px;
									height: 38px;
								}
							}
						}
					}
					.btnIn > .text {
						@include min(769) {
							letter-spacing: -0.1em;
						}
					}
				}
				.btn:last-child {
    				margin-bottom: vw375(40);
				}

				@include min(769) {

					// display: flex;
					// align-items: center;
					// width: calc(#{vw(453px, 1440px)} * 2 + #{vw(30px, 1440px)});
					// flex-wrap: wrap;
					// margin: 0 auto;
					// justify-content: space-between;
					
					// .btn:last-child {
	    // 				margin-bottom: vw(30px, 1440px);	    				
					// }
					display: flex;
					align-items: center;
					width: calc(453px * 2 + 30px);
					flex-wrap: wrap;
					margin: 0 auto;
					justify-content: space-between;
					
					.btn:last-child {
	    				margin-bottom: 30px;
					}

				}
			}
		}


	}

}