@import "@/styles/import.scss";

.lead {
  font-size: 20px;
  letter-spacing: 0.08em;
  line-height: 1.75;

  @include media-max("sp") {
    font-size: 16px;
  }

  a {
    transition: opacity 0.3s ease 0s;
    text-decoration: underline;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }
  }

  span {
    color: $accent;
  }
}
