@charset "utf-8";

.section {
  width: 100vw;
  height: 3000px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  // position: absolute;
}
