@import "@/styles/import.scss";

.title {
  display: inline-block;
  background-color: #9a221c;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 22px;
  letter-spacing: 0.08em;

  @include media-max("sp") {
    font-size: 18px;
  }
}
