<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="creators__contents js-creatorlist_wrap">
  <ul class="creators__list js-creator_list">
    <% for (let i = 0; i < 12; i++) {%>
    <li class="creators__item js-creatorlist_item">
      <div class="creatoritem">
        <a data-href="" href="" class="css-hover" data-hover="img">
          <div class="tag">
            <p class="tag__txt js-creatorlist_name"></p>
          </div>
          <% if(i !== 3) {%>
          <img data-src="" src="./assets/resource/img/01.jpeg" alt="" />
          <%}%>
        </a>
      </div>
    </li>
    <%} %>
  </ul>
  <div class="creators__btnarea js-load_btn isActive">
    <div class="creators__btnwrap css-hover" data-hover="btn1">
      <div class="btn">
        <p class="btn__txt js-load_btnin isActive">Load More</p>
        <p class="btn__txt-arrow js-load_btnin"></p>
      </div>
    </div>
  </div>
</div>
