html {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.header-container-wrapper {
  display: none;
}

.hs-page {
  margin: 0;
}

html body .page-header {
  padding-bottom: 0px;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  box-sizing: border-box;
}

.page-header h1 {
  background-color: #000;
  color: #fff;
  font-weight: 700;
  height: 72px;
  line-height: 72px;
  font-size: 24px;
  margin: 0;
  margin-bottom: 40px;
  position: relative;
}

.page-header h1::before {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #000;
  height: 72px;
  width: 100vw;
}

.page-header h1::after {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: 0;
  background-color: #000;
  height: 72px;
  width: 100vw;
}

.page-header h2 {
  border: 1px solid #d6d6d6;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 8px;
}

.page-header h2 + br {
  display: none;
}

.page-header p {
  margin: 0;
  font-size: 16px;
  padding-bottom: 56px;
}

.email-prefs {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.email-prefs .header {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  padding-left: 16px;
  border-left: 4px solid #000;
  line-height: 2;
}

.email-prefs .item {
  margin: 0;
}

.email-prefs .item:nth-of-type(1) {
  margin-top: 16px;
}

.email-prefs .item:nth-of-type(n + 2) {
  margin-top: 12px;
}

.email-prefs .item .item-inner {
  border: 0;
  border-radius: 0;
  background: #f5f5f5;
  padding: 24px 20px;
}

.email-prefs .item .item-inner > p {
  margin: 0;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 7px;
}

.email-prefs .item-inner .fakelabel p {
  font-size: 12px;
}

.email-prefs .item-inner .fakelabel span {
  font-size: 18px;
  color: #000;
  position: relative;
  line-height: 32px;
  height: 32px;
  margin-left: 0;
  padding-left: 48px;
  float: none;
  display: block;
}

.fakelabel input {
  opacity: 0;
  transform: scale(0);
}

.fakelabel span::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.fakelabel span::after {
  content: "";
  display: none;
  position: absolute;
  top: 6px;
  left: 11px;
  width: 8px;
  height: 14px;
  z-index: 1;
  transform: rotate(40deg);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.selected .fakelabel span::after {
  display: block;
}

.email-prefs .item .item-inner.selected {
  background: #f5f5f5;
  border: 1px solid #e0e7ec;
  border: none;
}

.subscribe-options {
  margin-right: 0;
  padding-bottom: 32px;
  border-bottom: 1px solid #000;
  margin-top: 32px;
  margin-bottom: 40px !important;
}

.subscribe-options .header {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
  border-left: 4px solid #000;
  line-height: 2;
}

.subscribe-options .header + p {
  margin: 0;
}

.subscribe-options .header label {
  margin: 0;
}

.subscribe-options .header span {
  font-size: 18px;
  font-weight: 700;
}

.hs-button {
  max-width: 320px;
  width: 100%;
  background-color: #000;
  color: #fff;
  height: 64px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  font-size: 16px;
}

.subscribe-options label {
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
  display: block;
}

.subscribe-options label input {
  /* transform: scale(0);
  opacity: 0; */
}

input[type="checkbox"] {
  transform: scale(0);
  opacity: 0;
}

.subscribe-options label span {
  font-size: 18px;
  margin-left: 0;
  padding-left: 0;
}

.subscribe-options .header + p {
  position: relative;
  /* height: 32px;
  line-height: 32px; */
  padding-left: 20px;
  margin-top: 16px;
}

#globalunsub:checked + span::after {
  display: block;
}

#globalunsub + span::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #000;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

#globalunsub + span::after {
  content: "";
  display: none;
  position: absolute;
  top: 6px;
  left: 11px;
  width: 8px;
  height: 14px;
  z-index: 1;
  transform: rotate(40deg);
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

footer {
  background-color: #000;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

footer span {
  color: #fff;
  text-align: center;
  font-size: 10px;
}

/* サブスク解除 */
.success {
  max-width: 1040px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  border-left: 4px solid #000;
  font-weight: 700;
}

#email-prefs-form {
  /* max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  padding-left: 20px;
  padding-right: 20px; */
}

.email-edit {
  width: 100% !important;
}

#content h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  padding-left: 16px;
  border-left: 4px solid #000;
  line-height: 2;
  font-weight: 700;
}

#content h3 + div {
  margin-top: 19px;
  padding-bottom: 40px !important;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}

.email-edit {
  box-sizing: border-box;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100% !important;
}

.footer-static {
  position: relative;
}

.footer-fixed::before,
.footer-static::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #000;
  height: 46px;
  width: 100vw;
  z-index: -1;
}

html body input.hs-input.email-edit {
  border: #d6d6d6 1px solid;
  border-radius: 4px;
  padding: 8px 16px !important;
  color: #000;
  font-weight: 700;
}

.hs_cos_wrapper {
  max-width: 1040px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

.localization-language {
  display: none;
}

@media screen and (max-width: 768px) {
  .page-header h1 {
    text-align: center;
    margin-bottom: 24px;
  }

  .page-header p {
    font-size: 12px;
    padding-bottom: 24px;
    line-height: 1.6;
  }

  .email-prefs .header {
    line-height: 1.5;
  }

  .email-prefs .item .item-inner {
    padding: 24px;
  }

  .hs-button {
    font-size: 16px;
    font-weight: 700;
    max-width: none;
  }
}
