@charset "utf-8";

/* --------------------------------------------------------------------------------
*   common
-------------------------------------------------------------------------------- */
@import "./_init/import";
@import "./_init/reset"; // リセットCSS、フォントサイズ sss

/* --------------------------------------------------------------------------------
*   parts
-------------------------------------------------------------------------------- */
@import "./_parts/_common/**/*.scss";
@import "./_parts/_compornents/**/*.scss";

/* --------------------------------------------------------------------------------
*   page
-------------------------------------------------------------------------------- */
html {
  overflow: hidden;
}
body {
	height: 100vh;
}
#wrapper.id_top {

	background-color: #000;

	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100vh;
	

	.box {
		width: 300px;
		height: 200px;
	}
	
}