<!-- ************************************************************
//
//  footer
//
// ************************************************************ -->
<div class="gorogorobtn js-gorogorobtn">
  <a href="">
    <span class="svgwrap">
      <%- include("../../../../dist/assets/resource/svg/arrow.svg") %>
    </span>
  </a>
</div>
