
.blk_page_recruit {
  & .inner {
    padding: 0 20px;
  }
}

.blk_page_recruit_entry {
  & .inner {
    padding: 0 20px;
  }
}

.paging_recruit {
  & .inner {
    padding: 0 20px;
  }
}


.blk_page_faq {
  & .inner {
    padding: 0 20px;
  }
}

.close__txt {
  font-size: 18px !important;
  font-size: 1.8rem !important;
}