<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="wrap">
  <div class="area js-particle_area">
    <div class="frame">
      <CameraFrameSVG></CameraFrameSVG>
    </div>

    <div class="target">
      <img src="" alt="" />
    </div>

    <p class="txt nice">NICE SHOT!</p>
    <div class="circle">
      <div class="circleIn"></div>
    </div>
    <p class="txt miss">MISS....</p>

    <div class="btnarea">
      <div class="btn">
        <CameraBtnSVG></CameraBtnSVG>
      </div>
    </div>
  </div>
</div>
