@import "@/styles/import.scss";

.wrap {
  padding: 50px 0px;
  @include media-max("sp") {
    padding: 40px 0px;
  }
}

.inner {
  max-width: 1080px + 20px + 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;

  @include media-max("sp") {
    flex-direction: column;
  }
}

.titlearea {
  @include media-max("sp") {
    text-align: center;
  }
}

.imgarea {
  width: 50%;

  @include media-max("sp") {
    width: 100%;
    order: 2;
    margin-top: 40px;
  }
}

.txtarea {
  width: 50%;
  padding-left: 100px;

  @include media-max("sp") {
    width: 100%;
    padding-left: 0;
    order: 1;
  }
}

.detail {
  margin-top: 50px;
  @include media-max("sp") {
    margin-top: 36px;
  }
}

.itemTitleArea {
  display: flex;
}

.itemTitleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
  margin-right: 8px;

  @include media-max("sp") {
    margin-right: 5px;
  }

  svg {
    width: 22px;

    @include media-max("sp") {
      width: 18px;
    }
  }
}

.item {
  &:nth-child(n + 2) {
    margin-top: 40px;

    @include media-max("sp") {
      margin-top: 32px;
    }
  }
}

.itemTitle {
  font-size: 22px;
  letter-spacing: 0.08em;
  line-height: 1;

  @include media-max("sp") {
    font-size: 18px;
  }
}

.itemDetailArea {
  margin-top: 10px;
}

.itemDetail {
  font-size: 18px;
  letter-spacing: 0.08em;
  line-height: 1.75;
  white-space: pre-wrap;

  @include media-max("sp") {
    font-size: 14px;
  }

  a {
    text-decoration: underline;
  }
}
