<!-- ************************************************************
//  block01
// ************************************************************ -->
<div class="block block01">

	<div class="bg"></div>

	<div class="titWrap">

		<div class="parts partsT">
		<div class="partsInner">
			<div class="bane"><img src="./assets/resource/img_sp/mv/press_top_parts2.png" alt=""></div>
			<div class="ban"><img src="./assets/resource/img_sp/mv/press_top_parts1.png" alt=""></div>
		</div>
		</div>

		<div class="tit"><%- include('../../../../dist/assets/resource/svg/logo.svg'); %></div>

		<div class="parts partsB">
		<div class="partsInner">
			<div class="ban"><img src="./assets/resource/img_sp/mv/press_bottom_parts1.png" alt=""></div>
			<div class="bane"><img src="./assets/resource/img_sp/mv/press_bottom_parts2.png" alt=""></div>
		</div>
		</div>

	</div>

</div>	