<!-- ************************************************************
//  block04
// ************************************************************ -->
<div class="block block04">

	<div class="pipe"><img src="./assets/resource/img_sp/pipe03.png" alt="" class="responsiveImg"></div>

	<div class="imgs">
	<div class="imgMove">
	<div class="imgInner flex">
		<div class="img"><div class="bg"><img src="./assets/resource/img_sp/movieframe.png" alt="" class="responsiveImg"></div></div>
		<div class="img"><div class="bg"><img src="./assets/resource/img_sp/movieframe.png" alt="" class="responsiveImg"></div></div>
		<div class="img"><div class="bg"><img src="./assets/resource/img_sp/movieframe.png" alt="" class="responsiveImg"></div></div>
	</div>
	</div>
	</div>

	<div class="movieTemp">
		<div class="prev"></div>
		<div class="next"></div>
	</div>
	
	<div class="box flex">
		<div class="boxInner">

			<!-- tit -->
			<!-- <div class="tit"><%- include('../../../../dist/assets/resource/svg/campaign.svg'); %></div> -->
			<!-- text -->
			<!-- <div class="text">
				キリスト教に先立つユダヤ教の暦、<br>
				ローマ帝国の暦、<br>
				およびこれらを引き継いだ教会暦では<br>
				日没を一日の境目としているので、<br>
				クリスマス・イヴと呼ばれる<br>
				12月24日夕刻から朝までも、 <br>
				教会暦上はクリスマスと同じ日に数えられる。<br>
			</div> -->

		</div>
		<div class="boxInner">
			<!-- img -->
			<div class="img"><img src="./assets/resource/img_sp/img_diamond.png" alt=""></div>
		</div>
	</div>

</div>	