<!-- ************************************************************
//  block02
// ************************************************************ -->
<div class="block block02">

	<div class="pipe">

		<img src="./assets/resource/img_sp/pipe01.png" alt="" class="responsiveImg base">

		<div class="ball ball1"><div class="ballInner"><img src="./assets/resource/img_sp/ball01.png" alt=""></div></div>
		<div class="ball ball2"><div class="ballInner"><img src="./assets/resource/img_sp/ball02.png" alt=""></div></div>

	</div>
	
	<!-- bg -->
	<div class="bgs">
		<div class="bgWrap">
		<div class="bgInner parallaxImg">
			<div class="sika"><img src="./assets/resource/img_sp/sec02_bg_shika2.png" alt="" class="responsiveImg"></div>
			<div class="sika on"><img src="./assets/resource/img_sp/sec02_bg_shika1.png" alt="" class="responsiveImg"></div>
			<div class="bg"></div>
		</div>
		</div>
		<div class="bgWrap"><div class="bg parallaxImg"></div></div>
		<div class="bgWrap"><div class="bg parallaxImg"></div></div>
	</div>

	<!-- item -->
	<!-- <div class="items itemParallax">
		<div class="item item01"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item01_01.png" alt=""></div></div></div>
		<div class="item item02"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item01_02.png" alt=""></div></div></div>
		<div class="item item03"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item01_03.png" alt=""></div></div></div>
		<div class="item item04"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item01_04.png" alt=""></div></div></div>
		<div class="item item05"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item01_05.png" alt=""></div></div></div>
	</div> -->

	<div class="inner">
	
		<!-- tit -->
		<div class="tit"><%- include('../../../../dist/assets/resource/svg/tit.svg'); %></div>
		<!-- text -->
		<div class="text"><%- include('../../../../dist/assets/resource/svg/text.svg'); %></div>
		<!-- logo -->
		<div class="logo"><%- include('../../../../dist/assets/resource/svg/logo.svg'); %></div>

	</div>

</div>	
