<!-- ************************************************************
//  block03
// ************************************************************ -->
<div class="block block03">

	<div class="pipe"><img src="./assets/resource/img_sp/pipe02.png" alt="" class="responsiveImg"></div>
	
	<!-- tit -->
	<div class="tit"><%- include('../../../../dist/assets/resource/svg/movie.svg'); %></div>
	<!-- img -->
	<div class="img">
		<img src="./assets/resource/img_sp/frame_movie.png" alt="" class="responsiveImg base">
		<div class="gifimg"><img src="./assets/resource/img_sp/frame_movie.gif"></div>
	</div>
	<!-- text -->
	<div class="text">
		クリスマスにルミネが贈る、新しい「マッチ売りの少女」。<br>
		天才漫画家・此元和津也による初の実写脚本を<br>
		新世代の実力派女優・中村ゆりかと岸井ゆきのが熱演。<br>
		この冬一番のハッピーエンド（？）　１２・１０本編公開
	</div>
	<!-- btn -->
	<div class="btn flex">
	<a href="http://www.lumine.ne.jp/matchgirls" class="blank">
	<div class="bg"></div>
	<div class="btnInner">
		<div class="text"><%- include('../../../../dist/assets/resource/svg/more.svg'); %></div>
		<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
	</div>
	</a>
	</div>

</div>	