/*-----------------------
variable
------------------------*/
/*-----------------------
topBlock
------------------------*/
.topBlock {
  width: 100%;
  position: relative;
  line-height: 1;
}


.mainVis {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  &__title {
    position: absolute;
    top: calc( 50% + 10px );left: percentage(200/1280);
    transform: translateY(-50%);
    @include fontSize(30);
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.07em;
  }
}


.news {
  background-color: #e9e9e9;
  width: 100%;
  padding: 37px 0;
  &__inner {
    position: relative;
    width: $innerWidth;
    margin: 0 auto;
  }
  &__logo {
    position: absolute;
    top: 0;left: 0;
    width: 65px;
    margin-right: percentage(115/1000);
  }
  &__acl {
    width: 100%;
    padding-left: percentage(180/1000);
    @include fontSize(14);
    & dl {
      position: relative;
      margin-bottom: 13px;
      line-height: 1.6;
      &:last-child {
        margin-bottom: 0;
      }
      & dt {
        position: absolute;
        top: 0;left: 0;
        width: 80px;
      }
      & dd {
        width: calc( 100% - 135px );
        margin-left: 135px;
      }
    }
  }
}


.info {
  width: 100%;
  &__listBox {
    width: $innerWidth;
    margin: 0 auto;
    padding: 83px 0 40px;
    @include clearfix();
    & li {
      float: left;
      position: relative;
      width: percentage(320/1000);
      padding-top: 17px;
      margin-right: percentage(18/1000);
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
      & figcaption {
        position: absolute;
        top: 0;left: 0;
        background-color: #0e0d69;
        padding: 6px 20px 8px;
        @include fontSize(16);
        color: #fff;
      }
      & .link {
        display: block;
        position: relative;
        padding: 20px 25px 20px 0;
        @include fontSize(15);
        &.blank {
          &:after {
            content: '';
            display: inline-block;
            background: url(../img/common/blank_icon_bl.png) no-repeat center center;
            background-size: 100%;
            position: absolute;
            top: 50%;right: 0;
            width: 18px;height: 14px;
            transform: translateY(-50%);
          }
        }
      }
    }
    .link-wrap {
      position: relative;
      a {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
      }
      p {
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
  &.col3 & {
    &__listBox {
      & li {
        width: percentage(320/1000);
        margin-bottom: 40px;
        &:nth-of-type(3n){
          margin-right: 0;
        }
      }
    }
  }
  &.col4 {
    background-color: #f0f0f0;
  }
  &.col4 & {
    &__listBox {
      & li {
        width: percentage(234/1000);
        & a {
          border-bottom: 1px solid #dadada;
        }
      }
    }
  }
}


.group {
  background-color: #0e0d69;
  padding: 60px 0;
  &__inner {
    width: $innerWidth;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }
  &__title {
    @include fontSize(24);
    margin-bottom: 30px;
  }
  &__text {
    @include fontSize(16);
    margin-bottom: 45px;
  }
  &__link {
    @include fontSize(20);
    & a {
      position: relative;
      display: inline-block;
      width: percentage(470/1000);
      border: 5px solid #fff;
      padding: 38px 0;
      color: #fff;
      &:after {
        content: '';
        display: inline-block;
        background: url(../img/common/blank_icon_wh.png) no-repeat center center;
        background-size: 100%;
        width: 18px;height: 14px;
        margin-left: 10px;
      }
    }
  }
}

.under {
  width: 100%;
  padding: 60px 0;
  &__listBox {
    width: $innerWidth;
    margin: 0 auto;
    @include clearfix();
    & li {
      float: left;
      width: percentage(480/1000);
      margin-right: percentage(40/1000);
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
      & a {
        background-color: #000;
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 40px 0;
        @include fontSize(20);
        color: #fff;
        letter-spacing: 0.1em;
        &:after {
          content: '';
          display: inline-block;
          background: url(../img/common/arrow_icon.png) no-repeat center center;
          background-size: 100%;
          width: 14px;height: 11px;
          margin-left: 10px;
        }
      }
    }
  }
}


.environment {
  background-color: #d9d9d9;
  width: 100%;
  padding: 60px 0;
  text-align: center;
  &__title {
    @include fontSize(24);
    margin-bottom: 35px;
  }
  &__listBox {
    width: $innerWidth;
    margin: 0 auto;
    @include clearfix();
    & li {
      float: left;
      width: percentage(312/1000);
      margin-right: percentage(32/1000);
      &:last-child {
        margin-right: 0;
      }
      & a {
        background-color: #0e0d69;
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 30px 0;
        @include fontSize(20);
        color: #fff;
        letter-spacing: 0.1em;
        &:after {
          content: '';
          display: inline-block;
          background: url(../img/common/arrow_icon.png) no-repeat center center;
          background-size: 100%;
          width: 14px;height: 11px;
          margin-left: 10px;
        }
      }
    }
  }
}


.under_environment {
  background: #efefef;
  padding: 60px 0 62px;
  & .under_inner {
    width: 1000px;
    margin: 0 auto;
	& .under_info {
	  margin-bottom: 40px;
	  display: -webkit-flex;
	  display: -moz-flex;
	  display: -ms-flex;
	  display: -o-flex;
	  display: flex;
	  align-items: center;
	  -webkit-align-items: center;
	  justify-content: space-between;
	  -webkit-justify-content: space-between;
	  & a {
	    width: 48%;
	    margin-right: 4%;
	    text-align: center;
		background: #0e0d69;
		position: relative;
		display: inline-block;
		padding: 40px 0;
		font-size: 2rem;
		color: #fff;
		letter-spacing: 0.15em;
		transition: all .3s ease;
		&:after {
		  content: '';
		  display: inline-block;
		  background: url(../img/common/arrow_icon.png) no-repeat center center;
		  background-size: 100%;
		  width: 14px;
		  height: 11px;
		  margin-left: 10px;
		}
		&:hover {
		  background: #6e6ea5;
		}
	  }
	  & p {
	    font-size: 1.6rem;
		line-height: 1.6em;
	    letter-spacing: 0.08em;
		flex: 1;
		-webkit-flex: 1;
	  }
	}
	& ul {
	  background: #b8b8ce;
	  padding: 40px;
	  display: -webkit-flex;
	  display: -moz-flex;
	  display: -ms-flex;
	  display: -o-flex;
	  display: flex;
	  align-items: center;
	  -webkit-align-items: center;
	  justify-content: space-between;
	  -webkit-justify-content: space-between;
	  & li {
	    width: 48%;
	    text-align: center;
		& a {
		  background: #fff;
		  position: relative;
		  display: inline-block;
		  width: 100%;
		  padding: 30px 0;
		  font-size: 2rem;
		  color: #0e0d69;
		  letter-spacing: 0.15em;
		  transition: all .3s ease;
		  &:after {
		    content: '';
		    display: inline-block;
		    background: url(../img/common/arrow_icon_bl.png) no-repeat center center;
		    background-size: 100%;
		    width: 14px;
		    height: 11px;
		    margin-left: 10px;
			transition: all .3s ease;
		  }
		  &:hover {
		    background: #0e0d69;
			color: #fff;
			&:after {
			  background: url(../img/common/arrow_icon.png) no-repeat center center;
			  background-size: 100%;
			}
		  }
		}
	  }
	}
  }
}
