/* --------------------------------------------------------------------------------
*
*   header
*
-------------------------------------------------------------------------------- */
.header {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-bottom: 0.2rem;

    &:nth-child(n + 2) {
      margin-left: 50px;
    }

    a {
      display: block;

      font-size: 16px;
    }
  }
}

.bar {
  width: 20px;
  height: 1px;
  background-color: #000;
}
