@import "../../../styles/import.scss";

.mv {
  position: relative;
}
.imgwrap {
  img {
    width: 100%;
  }
}

.txtwrap {
  position: absolute;
  top: 14vw;
  left: 8vw;
}

.txt {
  font-size: 36px;
  font-family: "kodomo";
  color: #fff;
}
