<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section section01">
  <div class="slider js-slider">
    <div class="slider__inner">
      <ul class="slider__list">
        <% for(let i = 0; i < 3;i ++) { %>
        <li class="slider__item js-slider_item">
          <p class="slider__img">
            <img src="./assets/resource/img/<%= i + 1%>.jpg" alt="" />
          </p>
        </li>
        <% } %>
      </ul>
      <div class="slider__indicator js-slider_indicator">
        <ul class="slider__indicator-list">
          <li class="slider__indicator-item js-slider_indicator_item"></li>
          <li class="slider__indicator-item js-slider_indicator_item"></li>
          <li class="slider__indicator-item js-slider_indicator_item"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
