@import "../../../styles/import.scss";

.wrap {
  padding: 5vw 0px 15px;
}

.inner {
  max-width: 1280px + 30px + 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin: 0 auto;
}

.titlewrap {
  text-align: center;
}

.leadwrap {
  margin-top: 32px;
  text-align: center;
}

.contents {
  margin-top: 64px;
}

.list {
  display: flex;

  flex-wrap: wrap;
}

.item {
  width: calc(100% / 3);
  padding: 50px 30px;
  position: relative;

  &:nth-child(3n + 1) {
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      width: 300%;
      border-top: 6px dashed #9a221c;
    }
  }
}

.imgwrap {
  text-align: center;
  img {
    width: 70%;
    display: inline-block;
  }
}

.namewrap {
  text-align: center;
  font-size: 34px;
  white-space: nowrap;
  margin-top: 25px;
}

.name {
  font-family: "kodomo";
  font-weight: 300;
  color: $accent;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
}

.txtwrap {
  margin-top: 15px;
}

.txt {
  font-size: 18px;
  letter-spacing: 0.08em;
  line-height: 1.75;
}
