@import "@/styles/import.scss";

// ------------------------------------------------------------
// menubtn
// ------------------------------------------------------------

.menubtn {
  position: fixed;
  top: 20px;
  right: 20px - 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 101;

  cursor: pointer;

  @include media-min("tab") {
    display: none;
  }
}

.bars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 36px;
  height: 36px;
  position: relative;
}

.bar {
  min-width: 100%;
  max-width: 100%;
  height: 3.5px;
  background-color: $base;

  position: absolute;
  // top: calc(50% - 1.75px);
  left: calc(50% - 18px);

  &:nth-child(1) {
    top: calc(50% - 1.75px - 7px);
    transform-origin: 0% 50%;
    // transform: rotate(45deg) translate(1px, -6.9px);
    // transform: rotate(45deg);
  }

  &:nth-child(2) {
    top: calc(50% - 1.75px + 7px);
    transform-origin: 0% 50%;
    // transform: rotate(-45deg) translate(-1px, 9.2px);
    // transform: rotate(-45deg);
  }
}

.txtWrap {
  overflow: hidden;
}

.txt {
  // margin-top: 5px;
  font-size: 10px;
  text-align: center;
  width: 100%;

  &:nth-child(n + 2) {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.img {
  width: 35%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

// ------------------------------------------------------------
// drawer
// ------------------------------------------------------------

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  height: 100svh;
  z-index: 100;

  &.isActive {
    pointer-events: auto;
  }

  &.isNotActive {
    pointer-events: none;
  }

  @include media-min("tab") {
    display: none;
  }
}

.inner {
  padding: 100px 20px 0px;
}

.bg {
  width: 100%;
  height: 100%;
  background-color: $accent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  transform: translateX(101%);
}

.item {
  overflow: hidden;
  position: relative;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fafafa;

  transform: scaleX(0);
  transform-origin: 0% 50%;
}

.pageScroll {
  color: #fafafa;
  font-size: 14px;
  letter-spacing: 0.08em;
  text-align: center;
  display: block;
  padding: 12px 0px;
  font-weight: 900;
  cursor: pointer;

  transform: translateY(100%);
}
