<!-- ************************************************************
//
//  footer
//
// ************************************************************ -->
<footer id="footer">

	<div class="sns flex display pc">
		<div class="item twShare"><div class="in"><svg viewBox="0 0 14 14"><use xlink:href="#icon-twitter"></use></svg></div></div>
		<div class="item fbShare"><div class="in"><svg viewBox="0 0 14 14"><use xlink:href="#icon-facebook"></use></svg></div></div>
		<div class="item lineShare"><div class="in"><svg viewBox="0 0 14 14"><use xlink:href="#icon-line"></use></svg></div></div>
	</div>
	
	<div class="logo"><img src="./assets/resource/img_sp/common/lumine_logo.png" alt=""></div>

	<div class="copy">COPYRIGHT © LUMINE CO.,LTD. ALL RIGHTS RESERVED</div>
  
</footer>
