<!-- ************************************************************
//
//  header
//
// ************************************************************ -->
<header id="header">

	<div class="menuBtn toggle_menu">
		<div class="menu-trigger" href="#">
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
	</div>

	<div class="sns flex">
		<div class="item twShare"><div class="in"><svg viewBox="0 0 14 14"><use xlink:href="#icon-twitter"></use></svg></div></div>
		<div class="item fbShare"><div class="in"><svg viewBox="0 0 14 14"><use xlink:href="#icon-facebook"></use></svg></div></div>
		<div class="item lineShare"><div class="in"><svg viewBox="0 0 14 14"><use xlink:href="#icon-line"></use></svg></div></div>
	</div>

</header>