<div class="barWrap barWrap_h top"><div class="bar"></div></div>
<div class="barWrap barWrap_v left"><div class="bar"></div></div>
<div class="dotWrap_h"></div>
<div class="dotWrap_v"></div>
<div class="barWrap barWrap_h bottom"><div class="bar"></div></div>
<div class="barWrap barWrap_v right"><div class="bar"></div></div>