@charset "utf-8";

/* --------------------------------------------------------------------------------
*   common
-------------------------------------------------------------------------------- */
@import "./_init/import";
@import "./_init/reset"; // リセットCSS、フォントサイズ sss

/* --------------------------------------------------------------------------------
*   parts
-------------------------------------------------------------------------------- */
@import "./_parts/_common/**/*.scss";
@import "./_parts/_compornents/**/*.scss";

/* --------------------------------------------------------------------------------
*   page
-------------------------------------------------------------------------------- */
html {
  overflow: hidden;
}
body {
	height: 100vh;
}
#wrapper.id_top {

	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100vh;
	
	.tit_matches {
		.item {
		}
	}
	

	.itemS {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		
		opacity: 0.5;
	}

	.itemS2 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(4deg);
		transform-origin: 50% 100%;
		
		opacity: 0.5;
	}
}