@charset "utf-8";
@charset "utf-8";

.section03 {
  margin-top: 90px;

  @include media-max("sp") {
    margin-top: 70px;
  }
}

.creators__contents {
  padding: 25px 10px 0;
}

.creators__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.creators__item {
  width: calc(100% / 3 - 5px * 2 / 3);
  position: relative;

  @include media-max("sp") {
    width: 100%;
  }

  &:nth-child(n + 4) {
    margin-top: 5px;
  }

  &:nth-child(n + 2) {
    @include media-max("sp") {
      margin-top: 10px;
    }
  }

  &:not(:nth-child(3n + 1)) {
    @include media-min("tab") {
      margin-left: 5px;
    }
  }
}

.creators__btnarea {
  margin-top: 10px;
}

.creators__btnwrap {
  height: 45px;
  width: 100%;
}

// ------------------------------------------------------------
// js
// ------------------------------------------------------------

.js-load_btn {
  display: none;
  &.isActive {
    display: block;
  }
}

.js-load_btnin {
  display: none;
  &.isActive {
    display: block;
  }
}

.js-load_item {
  display: none;

  &.isActive {
    display: block;
  }
}
