@charset "UTF-8";

//===================================
// color
//===================================
// テキスト
$textColor: #333;
$linkColor: #333;

//===================================
// font
//===================================
$fontFamilyJp: "HiraKakuPro", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "YuGothic", "游ゴシック", Roboto, Osaka, sans-serif;
$fontFamilyEn: "Avenir Next", Helvetica, Arial, sans-serif;

//===================================
// size
//===================================
