@charset 'utf-8';

.main {
  .lead {
    @include shadowLead;
  }
}

// TOP
.talkThemes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.talkTheme {
  display: block;
  height: vw(100);
  width: vw(167);

  &:nth-of-type(odd) {
    transform: translateY(#{vw(14)});
  }

  .cls-2 {
    stroke: none;
  }

  &--work {
    .cls-1 {
      fill: #8ec2ce;
    }

    .cls-2 {
      fill: #7daab5;
    }

    .cls-3 {
      fill: #a0d8ea;
    }
  }
  &--money {
    .cls-1 {
      fill: #e5cf03;
    }

    .cls-2 {
      fill: #ccb405;
    }

    .cls-3 {
      fill: #fcee21;
    }
  }
  &--love {
    .cls-1 {
      fill: #d69db2;
    }

    .cls-2 {
      fill: #bc8a9c;
    }

    .cls-3 {
      fill: #f0afc3;
    }
}
  &--personality {
    .cls-1 {
      fill: #bbbf00;
    }

    .cls-2 {
      fill: #a1a500;
    }

    .cls-3 {
      fill: #c8d900;
    }
  }
  &--free {
    .cls-1 {
      fill: #d68a1d;
    }

    .cls-2 {
      fill: #bc7a19;
    }

    .cls-3 {
      fill: #f1a11e;
    }
  }
  &--life {
    .cls-1 {
      fill: #ccc3aa;
    }

    .cls-2 {
      fill: #b2aa94;
    }

    .cls-3 {
      fill: #e8debf;
    }

  }
  &--season {
    .cls-1 {
      fill: #ce5642;
    }

    .cls-2 {
      fill: #b54b3a;
    }

    .cls-3 {
      fill: #e96649;
    }
  }
  &--random {
    .cls-1 {
      fill: #d1d1d1;
    }

    .cls-2 {
      fill: #b7b7b7;
    }

    .cls-3 {
      fill: #ebebec;
    }
  }

  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}
