@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section
*
-------------------------------------------------------------------------------- */
.section {
  
  overflow: hidden;
  
}


/* --------------------------------------------------------------------------------
*
*   btn
*
-------------------------------------------------------------------------------- */
.btn {
	border: 1px solid rgba(84,45,113,.5);

	width: vw375(543, true);
	height: vw375(134, true);
	
	position: relative;
	margin: 0 auto;
	
	background: url(../resource/img_sp/material/pattern_purple.png);
	background-size: 200px 200px; 
	
	.bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../resource/img_sp/material/pattern_green.png);
		background-size: 200px 200px;
		opacity: 0;
		transition: opacity .9s $easeOutQuad 0s;
	}
	
	a {
		display: block;
		width: 100%;
		
		position: relative;
	}
	a:hover .bg {
		opacity: 1;
	}
	
	.btnInner {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		border: 1px solid #d6bc6e;
		height: 100%;
		box-sizing: border-box;
		
		position: relative;
	}



	.text {
		display: flex;
		svg {
			width: vw375(84, true);
			height: vw375(34, true);
			
			path {
				stroke: #542d71;
				stroke-width: 0.2px;
			}
		}				
	}
	.icon {
		position: absolute;
		right: vw375(20);
		display: flex;
		svg {
			width: vw375(30, true);
			height: vw375(24, true);
		}		
	}

	@include min(769) {

		// background: url(../resource/img_sp/material/pattern_purple.png);
		// background-size: 200px 200px; 
		
		// width: vw(354px, 1440px);
		// height: vw(88px, 1440px);
		
		// .text {			
		// 	svg {
		// 		width: vw(54px, 1440px);
		// 		height: vw(22px, 1440px);
		// 	}
		// }
		// .icon {
		// 	right: vw(40px, 1440px);
		// 	svg {
		// 		width: vw(22px, 1440px);
		// 		height: vw(18px, 1440px);
		// 	}		
		// }
		background: url(../resource/img_sp/material/pattern_purple.png);
		background-size: 200px 200px; 
		
		width: 354px;
		height: 88px;
		
		.text {			
			svg {
				width: 54px;
				height: 22px;
			}
		}
		.icon {
			right: 40px;
			svg {
				width: 22px;
				height: 18px;
			}		
		}

	}

}

.btn.btnStore {

	width: vw375(624, true);
	height: auto;
	margin-bottom: vw375(17);
	
	.bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../resource/img_sp/material/pattern_green.png);
		background-size: 200px 200px;
		opacity: 0;
		transition: opacity .9s $easeOutQuad 0s;
	}
	
	a {
		display: block;
		width: 100%;
		
		position: relative;
	}
	a:hover .bg {
		opacity: 1;
	}
	
	.btnInner {
		padding: vw375(22) 0 vw375(25);
		
		justify-content: flex-start;
		align-items: center;
		padding-left: vw375(25);
		
		box-sizing: border-box;
		
		position: relative;
	}
	
	.btnIn {
		.titWrap {

			flex-direction: column;
			align-items: flex-start;

			.tit {
				margin: 0;
			    margin-bottom: vw375(10);
			    display: flex;
			    
			    svg {
			    	stroke: rgba(84, 45, 113, .5);
			    	stroke-width: .4px;
			    }
			}
			.text {
				font-family: 'noto_demiLight';
				font-size: vw375(11);
				color: #D6BC6E;
				
				text-shadow: 
				  rgba(84,45,113,.1) 1px 0px,  rgba(84,45,113,.1) -1px 0px,
				  rgba(84,45,113,.1) 0px -1px, rgba(84,45,113,.1) 0px 1px,
				  rgba(84,45,113,.1) 1px 1px , rgba(84,45,113,.1) -1px 1px,
				  rgba(84,45,113,.1) 1px -1px, rgba(84,45,113,.1) -1px -1px,
				  rgba(84,45,113,.1) 1px 1px,  rgba(84,45,113,.1) -1px 1px,
				  rgba(84,45,113,.1) 1px -1px, rgba(84,45,113,.1) -1px -1px,
				  rgba(84,45,113,.1) 1px 1px,  rgba(84,45,113,.1) -1px 1px,
				  rgba(84,45,113,.1) 1px -1px, rgba(84,45,113,.1) -1px -1px;
				
			}
		}
		.bar {
			border: 1px solid rgba(84,45,113,.5);
			height: 1px;
			width: 100%;
			background-color: #D6BC6E;
			
			margin: vw375(11) 0 vw375(15);
		}
		& > .text {
			// font-family: 'noto_demiLight';
			font-size: vw375(10);
			color: #D6BC6E;
			line-height: 1.72;
			
			text-align: left;
			
			text-shadow: 
			  rgba(84,45,113,.1) 1px 0px,  rgba(84,45,113,.1) -1px 0px,
			  rgba(84,45,113,.1) 0px -1px, rgba(84,45,113,.1) 0px 1px,
			  rgba(84,45,113,.1) 1px 1px , rgba(84,45,113,.1) -1px 1px,
			  rgba(84,45,113,.1) 1px -1px, rgba(84,45,113,.1) -1px -1px,
			  rgba(84,45,113,.1) 1px 1px,  rgba(84,45,113,.1) -1px 1px,
			  rgba(84,45,113,.1) 1px -1px, rgba(84,45,113,.1) -1px -1px,
			  rgba(84,45,113,.1) 1px 1px,  rgba(84,45,113,.1) -1px 1px,
			  rgba(84,45,113,.1) 1px -1px, rgba(84,45,113,.1) -1px -1px;
		}
	}
	.btnIn:nth-child(1) {
		width: 100%;
		padding-right: vw375(50);
	}
	&.long {
		.btnIn {
			.titWrap {
				flex-direction: column;
				align-items: flex-start;
				.tit {
					margin-bottom: vw375(9);
					@include min(769) {

						// margin-bottom: vw(15px, 1440px);
						margin-bottom: 13px;
						
					}
				}
			}
		}
	}

	.icon {
		top: calc(50% + 3px);
		transform: translateY(-50%);
	}

	@include min(769) {

		// width: vw(453px, 1440px);
		// height: vw(202px, 1440px);
		// flex: 0 0 vw(453px, 1440px);
		// margin: 0;
		// margin-bottom: vw(30px, 1440px);
		
		// .btnInner {
		// 	padding: vw(33px, 1440px) 0 vw(25px, 1440px);
		// 	padding-left: vw(37px, 1440px);
			
		// 	justify-content: flex-start;
		// 	align-items: center;
		// }
		
		// .btnIn {

		// 	flex: 0 0 80%;
			
		// 	.titWrap {
		// 		.tit {
		// 		    margin-right: vw(20px, 1440px);
		// 		}
		// 		.text {
		// 			font-size: vw(16px, 1440px);
		// 		}
		// 	}
		// 	.bar {
		// 		margin: vw(21px, 1440px) 0 vw(14px, 1440px);
		// 	}
		// 	& > .text {
		// 		font-size: vw(15px, 1440px);
		// 		line-height: 1.86;
				
		// 	}
		// }
		// .icon {
		// 	right: vw(30px, 1440px);
		// }
		width: 453px;
		// height: 202px;
		flex: 0 0 453px;
		margin: 0;
		margin-bottom: 30px;
		
		.btnInner {
			padding: 33px;
			padding-left: 37px;
			
			justify-content: flex-start;
			align-items: center;
		}
		
		.btnIn {

			.titWrap {
				.tit {
				    margin-right: 20px;
				    margin-bottom: 13px;
				}
				.text {
					font-size: 16px;
				}
			}
			.bar {
				margin: 15px 0 14px;
			}
			& > .text {
				font-size: 15px;
				line-height: 1.86;
				
			}
		}
		.btnIn:nth-child(1) {
			flex: 0 0 90%;	
			padding-right: 0;
		}
		.icon {
			top: calc(50% + 10px);
			right: 30px;
		}

	}
}