#craftsman_header
  a(href="/" data-color="toTop")
    img.logo(src="../assets/img/craftsman/common/header_logo.svg", alt="")
  img.title(src="../assets/img/craftsman/common/header_title.svg", alt="")
  img.menu_trigger.menu.open_modal.tapBtn.notHide(src="../assets/img/craftsman/common/menu_trigger.svg", alt="")
