@charset "utf-8";

/* --------------------------------------------------------------------------------
*   common
-------------------------------------------------------------------------------- */
@import "./_init/import";
@import "./_init/reset"; // リセットCSS、フォントサイズ sss

/* --------------------------------------------------------------------------------
*   parts
-------------------------------------------------------------------------------- */
@import "./_parts/_common/**/*.scss";
@import "./_parts/_compornents/**/*.scss";

/* --------------------------------------------------------------------------------
*   page
-------------------------------------------------------------------------------- */
html {
  overflow: hidden;
}
body {
	height: 100vh;
}
#wrapper.id_top {

	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 100vh;
	
	.tit {
		position: relative;
	}

	.base {
		opacity: 0.0;
	}
	
	.tit_matches {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		
		.letter {
			position: absolute;
			left: 0;
			top: 0;
		}

		.itemW {
			opacity: 0;
		}
		
		.itemWrap {
			position: absolute;
			left: 0;
			top: 0;
		}
		
		.M {
			.itemWrap:nth-child(1) {

			}
			.itemWrap:nth-child(2) {
				left: 31px;
				transform: rotate(-25deg);
			}
			.itemWrap:nth-child(3) {
				left: 75px;
				transform: rotate(-155deg);
			}
			.itemWrap:nth-child(4) {
				left: 107px;
			}
		}
		.A {
			.itemWrap:nth-child(1) {
				left: 165px;
				transform: rotate(-155deg);
			}
			.itemWrap:nth-child(2) {
				left: 211px;
				transform: rotate(-25deg);
			}
			.itemWrap:nth-child(3) {
				transform: rotate(90deg);
				left: 190px;
				top: 16px;
			}
		}
		.T {
			.itemWrap:nth-child(1) {
				transform: rotate(-90deg);
				left: 289px;
				top: -40px;
			}
			.itemWrap:nth-child(2) {
				transform: rotate(180deg);
				left: 291px;
			}
		}
		.C {
			.itemWrap:nth-child(1) {
				left: 363px;
			}
			.itemWrap:nth-child(2) {
				left: 415px;
				transform: rotate(90deg);
				top: -40px;
			}
			.itemWrap:nth-child(3) {
				left: 415px;
				transform: rotate(-90deg);
				top: 40px;
			}
		}
		.H {
			.itemWrap:nth-child(1) {
				left: 490px;
			}
			.itemWrap:nth-child(2) {
				left: 539px;
				transform: rotate(90deg);
				top: 4px;
			}
			.itemWrap:nth-child(3) {
				left: 589px;
				top: 0;
			}
		}

		.item {
			.itemIn {
				width: 1px;
				height: 100%;
				position: relative;
				
				img {
					margin-left: -4px;
				}
			}
		}

	}
	
	
}