@import "@/styles/import.scss";

.inner {
  display: flex;
}

.list {
  display: flex;
}

.item {
  width: 25vw;

  @include media-max("sp") {
    width: 50vw;
  }

  img {
    width: 100%;
    vertical-align: bottom;
  }
}
