<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="cards">
  <% for (let i = 0; i < 16; i++) {%>
  <div class="card">
    <img src="./assets/resource/img/card_ura.png" alt="" />
  </div>
  <%} %>
</div>
