@charset 'utf-8';

@keyframes kettei {
  0%   { transform: scale(.8, 1.4) translate(0, -100%); }
  10%  { transform: scale(.8, 1.4) translate(0, -15%); }
  20%  { transform: scale(1.4, .6) translate(0, 30%); }
  30%  { transform: scale(.9, 1.1) translate(0, -10%); }
  40%  { transform: scale(.95, 1.2) translate(0, -30%); }
  60%  { transform: scale(.95, 1.2) translate(0, -10%); }
  80% { transform: scale(1, 1) translate(0, 10%); }
  // 60%  { transform: scale(1.1, .9) translate(0, 5%); }
  // 70%  { transform: scale(1, 1) translate(0, 0%); }
  100% { transform: scale(1, 1) translate(0, 0); }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
