@keyframes fuwafuwa {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  // 66.66667% {
  //   transform: translateY(0);
  // }
  100% {
    transform: translateY(0);
  }
}
