<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section section01">
  <div class="loading">
    <div class="inner">
      <div class="shapes">
        <%for (var i = 1; i <= 3; i++) {%>
          <div class="shape shape_<%=i%>"><img src='./assets/img/shape<%=i%>.png'></div>
        <%}%>
      </div>
      <div class="text"><img src='./assets/img/loading_text.png'></div>
    </div>
  </div>
  <div class="canvas"></div>
</div>
