<div class="watch-order-modal">
  <div class="watch-order-modal--inner">
    <div class="watch-order-modal--title">並び替え</div>
    <a class="watch-order-modal--closeBtn" href="#close">close</a>
    <div class="watch-order-modal--links">
      <button class="watch-order-modal--item watch-order-modal--item01 item_query" data-category="order" data-query="new">
        新着順
      </button>
      <button class="watch-order-modal--item watch-order-modal--item02 item_query" data-category="order" data-query="higher">
        価格の高い順
      </button>
      <button class="watch-order-modal--item watch-order-modal--item03 item_query" data-category="order" data-query="cheaper">
        価格の安い
      </button>
      <button class="watch-order-modal--item watch-order-modal--item04 item_query" data-category="order" data-query="larger">
        ケースサイズが大きい順
      </button>
      <button class="watch-order-modal--item watch-order-modal--item05 item_query" data-category="order" data-query="smaller">
        ケースサイズが小さい順
      </button>
    </div>
  </div>
</div>
