<!-- ************************************************************
//  block03
// ************************************************************ -->
<!-- <div class="block block03"> -->

	<!-- <div class="pipe"><img src="./assets/resource/img_sp/pipe02.png" alt="" class="responsiveImg"></div> -->
	
	<!-- tit -->
	<!-- <div class="tit"><%- include('../../../../dist/assets/resource/svg/movie.svg'); %></div> -->
	<!-- img -->
	<!-- <div class="img"><img src="./assets/resource/img_sp/frame.png" alt=""></div> -->
	<!-- text -->
	<!-- <div class="text">
		キリスト教に先立つユダヤ教の暦、<br>
		ローマ帝国の暦、およびこれらを引き継いだ教会暦<br>
		では日没を一日の境目...
	</div> -->
	<!-- btn -->
	<!-- <div class="btn flex">
	<div class="btnInner">
		<div class="text"><%- include('../../../../dist/assets/resource/svg/more.svg'); %></div>
		<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
	</div>
	</div>

</div>	 -->