<section class="acid__lineup js-acid_lineuparea">
  <div class="acid__lineup-canvaswrap js-acid__lineup-canvaswrap">
    <canvas></canvas>
  </div>
  <div class="acid__lineup-inner">
    <div class="acid__lineup-titlearea"></div>

    <div class="argane__lineup-contents"></div>
    <div class="argane__lineup-contents"></div>
  </div>
</section>
