<!-- ************************************************************
//
//  footer
//
// ************************************************************ -->
<footer id="footer">
	
	<div class="text display sp"><img src="./assets/resource/img_sp/footer_text.png" alt=""></div>
	<div class="text display pc">
		<div class="inner"><img src="./assets/resource/img_pc/copy.png" alt=""></div>
		<div class="inner"><img src="./assets/resource/img_pc/f_logo.png" alt=""></div>
	</div>
  
</footer>
