<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section section01">
  <div class="grid js-grid_wrap">
    <% for (let i = 0; i < 17; i++) {%>
    <div class="item js-grid_item">
      <img src="./assets/resource/img/<%= i + 1 %>.jpg" alt="" />
    </div>
    <%} %>
  </div>
</div>
