.argane_oil_footer {
  padding-top: 44px + 69px;
  background-color: #f4f4f4;
  padding-bottom: 62px;

  .newsarea__wrapper {
    // margin-top: 40px;
    &.active {
      padding-top: 76px;
    }

    @include media-max("sp") {
      // margin-top: 80px;
      // padding-top: 76px;
    }
  }

  @include media-max("sp") {
    padding-top: 155px * 0.5;
    // padding-bottom: 286px * 0.5;
    padding-bottom: 70px;
  }
}
