<!-- ************************************************************
//
//  header
//
// ************************************************************ -->
<header class="lower2">

	<div class="logo hidePage"><a href="/" data-color="toTop"><%- include('../../../../dist/assets/resource/svg/common/logo.svg'); %></a></div>
	
	<div class="menu open_modal hidePage"><%- include('../../../../dist/assets/resource/svg/common/menu.svg'); %></div>	

</header>