
<!DOCTYPE html>
<html lang="ja" class="htmlTop">
<head>
<!-- ************************************************************
//
//  meta
//
// ************************************************************ -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">

<!-- fb ogp -->
<meta property="og:title" content="" /> 
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" /> 
<meta property="og:site_name" content="" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="ja_JP" />

<!-- twitter ogp -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:url" content="">
<!-- <meta name="twitter:site" content=""> -->
<meta name="twitter:image" content="">

{{ 'choku.css' | asset_url | stylesheet_tag }}
<!-- ************************************************************
//
//  log
//
// ************************************************************ -->
<!-- Global site tag (gtag.js) - Google Analytics -->
  
</head>

<body id="faq" class="">

<div id="wrapper" class="id_faq">
<div id="inner">
 {% render 'choku_header_parts' %}  

<section class="faq">
  <div class="faq_inner">
    <div class="faq__title">
      <h2 class="title">FAQs</h2>
    </div>
    <div class="faq__contents">
      <ul class="faq__list">
        
        <li class="faq__item">
          <div class="faq__item-titlewrap">
            <p class="faq__item-title">Payment</p>
          </div>
          <div class="faq__item-detail">
            <ul class="faq__detail-list">
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">How do I place my order?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">Choose the products you would like to purchase from our online store, proceed to your online cart and select checkout to process your payment. Once this payment is processed you will receive an order confirmation via email.</p>
                  </div>
                </div>
              </li>
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">Which payment methods do you accept?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">Do you sell gift vouchers?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        </li>
        
        <li class="faq__item">
          <div class="faq__item-titlewrap">
            <p class="faq__item-title">Orders</p>
          </div>
          <div class="faq__item-detail">
            <ul class="faq__detail-list">
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">Where is my order?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">Which payment methods do you accept?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">I can’t log in to my account, what’s the problem?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        </li>
        
        <li class="faq__item">
          <div class="faq__item-titlewrap">
            <p class="faq__item-title">Shipping</p>
          </div>
          <div class="faq__item-detail">
            <ul class="faq__detail-list">
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">How long will my order take to arrive?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">Do you send orders overseas?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        </li>
        
        <li class="faq__item">
          <div class="faq__item-titlewrap">
            <p class="faq__item-title">Visiting our Distillery</p>
          </div>
          <div class="faq__item-detail">
            <ul class="faq__detail-list">
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">What are your COVID-Safe policies?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">What are your trading hours?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">Do you take bookings for tastings or drinks?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        </li>
        
        <li class="faq__item">
          <div class="faq__item-titlewrap">
            <p class="faq__item-title">Visiting our Laboratory</p>
          </div>
          <div class="faq__item-detail">
            <ul class="faq__detail-list">
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">What are your trading hours?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">Do I need to book?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
              <li class="faq__detail-item js-accordion_item">
                <div class="faq__head js-accordion_head">
                  <p class="faq__head-txt js-accordion_title">How do I book in for a workshop at your Laboratory?</p>
                  <div class="arrowwrap js-accordion_arrow">
                    <div class="arrow"></div>
                  </div>
                </div>
                <div class="faq__body js-accordion_body">
                  <div class="faq__body-inner">
                    <p class="faq__body-txt">dummy</p>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</section>

  {% render 'choku_footer' %}
