
<!DOCTYPE html>
<html lang="ja" class="htmlTop">
<head>
<!-- ************************************************************
//
//  meta
//
// ************************************************************ -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">

<!-- fb ogp -->
<meta property="og:title" content="" /> 
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" /> 
<meta property="og:site_name" content="" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="ja_JP" />

<!-- twitter ogp -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:url" content="">
<!-- <meta name="twitter:site" content=""> -->
<meta name="twitter:image" content="">

{{ 'choku.css' | asset_url | stylesheet_tag }}
<!-- ************************************************************
//
//  log
//
// ************************************************************ -->
<!-- Global site tag (gtag.js) - Google Analytics -->
</head>

<body id="privacy" class="">

<div id="wrapper" class="id_privacy">
<div id="inner">
{% render 'choku_header_parts' %}


  <section class="privacy">
  <div class="privacy_inner">
    <div class="privacy_title">
      <h2 class="title">Privacy Policy</h2>
    </div>
    <div class="privacy__contents">
      <div class="privacy__leadwrap">
        <p class="privacy__lead">
          This is the Privacy Policy (“Policy” or “Privacy Policy”) of Miz
          Partners Holdings (“Miz Partners”) and its subsidiaries (collectively
          the “Miz Partners”). You have been directed to this Policy because a
          company within Miz Partners is collecting, using or disclosing your
          personal data.<br /><br />
          Miz Partners and its related entities (“That Wine Is Mine”, “we”, “us”
          and/or “our”) are committed to protecting and respecting your privacy
          and personal data. This privacy policy (“Policy”) sets out our
          collection, use, disclosure and retention of your personal data. This
          Policy also sets out the basis on which any personal data we collect
          from you or that you provide to us, whether through our website at
          www.thatwineismine.sg (“TWIM” and/or “Website”) or otherwise (e.g. at
          our entities), and how they will be used, processed and/or disclosed
          by us or on our behalf. It also provides information on how you may
          access, correct and/or update the personal data we hold about you.
          Please read this Policy to understand how we may collect, use and
          disclose your personal data.<br /><br />
          By accessing and/or using this Website or otherwise providing your
          personal data to us, you hereby acknowledge that you have read this
          Policy and that you consent to the collection, use and disclosure of
          your personal data for the purposes and in the manner set out in this
          Policy. If you do not consent to the terms of this Policy, please do
          not access this Website or provide us with any of your personal data.
        </p>
      </div>

      <ul class="list pattern1">
        <li>
          <h3>Personal data we collect, use and/or disclose</h3>
          <div>
            <p>
              We may collect, use, process and/or disclose the following data
              about you:
            </p>
          </div>
        </li>
        <li>
          <h3>Information you give us</h3>
          <div></div>
          <p>
            This is the Privacy Policy (“Policy” or “Privacy Policy”) of Miz
            Partners Holdings (“Miz Partners”) and its subsidiaries
            (collectively the “Miz Partners”). You have been directed to this
            Policy because a company within Miz Partners is collecting, using or
            disclosing your personal data. <br /><br />
            Miz Partners and its related entities (“That Wine Is Mine”, “we”,
            “us” and/or “our”) are committed to protecting and respecting your
            privacy and personal data. This privacy policy (“Policy”) sets out
            our collection, use, disclosure and retention of your personal data.
            This Policy also sets out the basis on which any personal data we
            collect from you or that you provide to us, whether through our
            website at www.thatwineismine.sg (“TWIM” and/or “Website”) or
            otherwise (e.g. at our entities), and how they will be used,
            processed and/or disclosed by us or on our behalf. It also provides
            information on how you may access, correct and/or update the
            personal data we hold about you. Please read this Policy to
            understand how we may collect, use and disclose your personal data.
            <br /><br />
            By accessing and/or using this Website or otherwise providing your
            personal data to us, you hereby acknowledge that you have read this
            Policy and that you consent to the collection, use and disclosure of
            your personal data for the purposes and in the manner set out in
            this Policy. If you do not consent to the terms of this Policy,
            please do not access this Website or provide us with any of your
            personal data.
          </p>
        </li>
        <li>
          <h3>Information we collect about you</h3>
          <div>
            <p>
              We may collect information that is sent automatically by your web
              browser, computer, mobile or tablet device. Please check the
              settings of your browser and/or device if you want to know what
              information is automatically sent or if you wish to change your
              settings. Please also refer to the section on “Cookies” below. In
              this respect, we may automatically collect the following
              information(s):<br /><br />Technical information, including the
              Internet protocol (IP) address used to connect your computer to
              the Internet, your login information, browser type and version,
              time zone setting, browser plug-in types and versions, operating
              system and platform, and other information;<br /><br />Information
              about your visit, including the full Uniform Resource Locators
              (URL) clickstream to, through and from TWIM (including date and
              time); products you viewed or searched for; page response times,
              download errors, length of visits to certain pages, page
              interaction information (such as scrolling, clicks, and
              mouse-overs), and methods used to browse away from the page and
              any phone number used to call our customer service number.
            </p>
          </div>
        </li>
        <li>
          <h3>Information we receive from other sources</h3>
          <div>
            <p>
              We work closely with third parties (including, for example,
              business partners, sub-contractors in technical, payment and
              delivery services, advertising networks, analytics providers,
              search information providers, credit reference agencies) and may
              receive information about you from them.
            </p>
          </div>
        </li>
        <li>
          <h3>Other information</h3>
          <div>
            <p>
              Miz Partners and TWIM also allows you to communicate with us on
              issues of customer service and to provide feedback on services,
              and we may collect your personal data in the course of such
              communications. We sometimes use this customer information to
              analyse customers’ interests so that we can tailor programs and
              special offers to better address customers’ needs.
            </p>
          </div>
        </li>
        <p>
          You hereby consent to the collection, use and/or disclosure of your
          personal data, and to our processing of such personal data for the
          purposes set out in this section:
        </p>
        <li>
          <h3>Online Orders via E-commerce Platform</h3>
          <div>
            <p>
              To carry out our obligations arising from any contracts entered
              into between you and us and to provide you with the information,
              products and services that you request from us including to
              process an order on TWIM, we will ask for the following
              information:<br /><br />
              ・Customer’s name<br />
              ・Mailing/Delivery address<br />
              ・Billing address<br />
              ・Electronic-mail information<br />
              ・Telephone number<br />
              ・Credit-card information
            </p>
          </div>
        </li>
        <li>
          <h3>Electronic Surveys and Post-Order Communications</h3>
          <p>
            To provide you with information about other goods and services we
            offer that are similar to those that you have already purchased or
            enquired about, we conduct online surveys, from time to time, to
            evaluate our services. Participation in such surveys is voluntary,
            but customer information is collected during such online surveys for
            verification purposes, such as:<br /><br />
            ・Customer’s name<br />
            ・Mailing address<br />
            ・Electronic-mail information
          </p>
        </li>
        <li>
          <h3>Promotions, Direct Marketing Emails and Contests</h3>
          <div>
            <p>
              Miz Partners and TWIM sometimes offers special promotions,
              contests, or sweepstakes through which customers can win prizes.
              Each of these promotions, contests and sweepstakes will have a set
              of terms and conditions that apply to that event. In some cases,
              the customer is automatically entered in the contest simply by
              using the relevant website or meeting other conditions for that
              contest. In entering such a promotion, contest, or sweepstake,
              personal data such as the following will be collected:<br /><br />
              ・Customer’s name<br />
              ・Mailing address<br />
              ・Electronic-mail information<br />
              ・Or other personal information for the identification of the
              customer and for notification purposes.
            </p>
          </div>
        </li>
        <li>
          <h3>Where we store your personal data</h3>
          <div>
            <p>
              The data we collect from you will be transferred, processed and
              stored within Singapore. This disclosure and transfer may be made
              to an entity within Miz Partners and processed by staff located
              within Singapore. Such staff may be engaged in, among other
              things, the fulfilment of your order, the processing of your
              payment details and the provision of support services. Your
              information will not be transferred to third parties outside
              Singapore except in accordance with the requirements prescribed
              under the Personal Data Protection Act 2012 (No. 26 of 2012) and
              its related subsidiary legislation (collectively, “PDPA”).
            </p>
          </div>
        </li>
        <li>
          <h3>Security</h3>
          <div>
            <p>
              Unfortunately, the transmission of information via the internet
              can never be completely secure. Although we will do our best to
              protect your personal data, we cannot guarantee the security of
              data which you transmit to TWIM; any transmission is at your own
              risk. Once we have received your information, we will use strict
              procedures and security measures to try to prevent unauthorised
              access.
            </p>
          </div>
        </li>
        <li>
          <h3>Personal Data Retention</h3>
          <div>
            <p>
              Personal data provided by you will be retained as long as the
              purpose for which the data was collected continues or where there
              is a legal or business purpose for such retention. Thereafter, we
              will destroy or delete the information, or remove the means by
              which the data can be associated with you, unless its retention is
              required to satisfy legal, regulatory, accounting or other
              business requirements or to protect Miz Partners and TWIM’s
              interests.
            </p>
          </div>
        </li>
        <li>
          <h3>Third Party Websites</h3>
          <div>
            <p>
              TWIM may, from time to time, contain links to and from the
              websites of our partner networks, advertisers and affiliates. If
              you follow a link to any of these websites, please note that these
              websites have their own privacy policies and that we do not accept
              any responsibility or liability for these policies, and you hereby
              waive any claim against us with respect to these linked websites.
              Please check all third party websites’ policies before you submit
              any personal data to these websites.
            </p>
          </div>
        </li>
        <li>
          <h3>Your Personal Data Protection Rights</h3>
          <div>
            <p>
              We will take reasonable steps to ensure the accuracy and
              completeness of any personal data held about you. To the extent
              you have provided us with your consent, you have the right to ask
              us not to process your personal data for marketing purposes. We
              will inform you (before collecting your data) if we intend to use
              your data for such purposes or if we intend to disclose your
              information to any third party for such purposes. You can exercise
              your right to prevent such processing by checking certain boxes on
              the forms we use to collect your data, or by contacting us at the
              email address below. You may request access to, or correction of
              your personal data that is in our possession or control.
              Additional privacy policies may be applicable in certain
              circumstances, for instance where you have agreed to Miz Partners’
              terms and conditions, or otherwise entered into another contract
              with us or any member of Miz Partners. To enable us to process
              your requests promptly you should provide us with full details of
              the particular information sought, and documentary evidence of
              your identity. You agree that we may need to check and verify your
              identity and may contact you for further information. You can
              contact us at any time in order to exercise these rights, to ask
              any questions related to the Policy or to let us know of any
              complaint you have relating to the Policy or our use of your data
              by contacting us at the relevant contact entities below. Any
              access request may be subject to fees depending on the nature of
              your request, in order for us to meet our costs in providing you
              with details of the information we hold about you and as permitted
              under the PDPA. If applicable, we will inform you of the
              applicable fees and payment must be received by us before we
              proceed further with your request.
            </p>
          </div>
        </li>
        <li>
          <h3>Changes to Privacy Policy</h3>
          <div>
            <p>
              Any changes we may make to our Policy in the future will be posted
              on this page. Please check back frequently to see any updates or
              modifications. If required by the applicable law, we will notify
              you of any material or substantive changes to this Policy.
            </p>
          </div>
        </li>
        <li>
          <h3>Contact</h3>
          <div>
            <p>
              Please direct any complaints, feedback or enquiries you may have
              regarding the collection, use and/or disclosure of your personal
              data by the following relevant entity in Singapore to their email
              or address below:
            </p>
          </div>
        </li>
        <li>
          <h3>
            That Wine Is Mine<br />
            Miz Partners
          </h3>
          <div>
            <p>
              7 Ardmore Park Singapore 259954<br />
              Attention: Data Protection Officer<br />
              Hello@thatwineismine.sg
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
{% render 'choku_footer' %}
