<!-- ************************************************************
//  section01
// ************************************************************ -->

<div class="wrap">
  <ul class="menu js-menu">
    <div class="menu__hover-bg js-menu_hover_bg"></div>
    <li class="menu__item">
      <a href="" class="menu__item-link js-menu_item">
        <span>ホーム</span>
      </a>
      <div class="menu-sub"></div>
    </li>
    <li class="menu__item">
      <a href="" class="menu__item-link js-menu_item"><span>開催概要</span></a>
      <div class="menu-sub"></div>
    </li>
    <li class="menu__item">
      <a href="" class="menu__item-link js-menu_item">
        <span>会場マップ</span>
      </a>
      <div class="menu-sub"></div>
    </li>
    <li class="menu__item">
      <a href="" class="menu__item-link js-menu_item">
        <span>タイムテーブル </span>
      </a>
      <div class="menu-sub"></div>
    </li>
  </ul>
</div>
