//BASE COLOR
$BASE_COLOR_WHITE : #FFF;
$BASE_COLOR_GLAY : #CCCCCC;
//footer BG color
$BASE_COLOR_DARKGRAY : #E8E6DD;
$BASE_COLOR_LIGHTGRAY : #F0EEE8;
//footer Yellow
$BASE_COLOR_YELLOW : #EADFC3;
$BASE_COLOR_BROWN : #BE966F;
//title color,link color
$BASE_COLOR_DARKBROWN : #634C41;
$BASE_COLOR_BLACK : #000;
//borderColor
$BASE_COLOR_DARKBLACK : #575757;
$BASE_FONT_SIZE : 14;
$BASE_LINEHIGHT_EN : 18.2 / 14;
$BASE_LINEHIGHT_JP : 18.2 / 13;


//BREAK_POINT
$BREAK_POINT_SP: 567px;
$BREAK_POINT_TABLET: 1024px;

//header height
$HEADER_H : 140px;



////mixin
/// 　character　margins
@mixin marginBottom($baseMargin: 20px, $pFontSize: 1.5rem, $pLineHeight: 1.8) {
    margin-bottom: calc(#{$baseMargin} - (((#{$pFontSize} * #{$pLineHeight}) - #{$pFontSize}) / 2));
}

@mixin paddingBottom($basePadding: 20px, $pFontSize: 1.5rem, $pLineHeight: 1.8) {
    padding-bottom: calc(#{$basePadding} - (((#{$pFontSize} * #{$pLineHeight}) - #{$pFontSize}) / 2));
}

@mixin marginTop($baseMargin: 20px, $pFontSize: 1.5rem, $pLineHeight: 1.8) {
    margin-top: calc(#{$baseMargin} - (((#{$pFontSize} * #{$pLineHeight}) - #{$pFontSize}) / 2));
}

@mixin paddingTop($basePadding: 20px, $pFontSize: 1.5rem, $pLineHeight: 1.8) {
    padding-top: calc(#{$basePadding} - (((#{$pFontSize} * #{$pLineHeight}) - #{$pFontSize}) / 2));
}

@mixin marginBottomToCharacter($baseMargin: 20px, $pFontSize: 1.5rem, $pLineHeight: 1.8) {
    margin-bottom: calc(#{$baseMargin} - (((#{$pFontSize} * #{$pLineHeight}) - #{$pFontSize}) / 2));
}

//character base font setting
@mixin fontSetting($lang : en) {
  @if $lang == en {
    font-size: 1em;
    line-height:$BASE_LINEHIGHT_EN;
    letter-spacing: 1em * 0.1;
  }
  @if $lang == jp {
    font-size: 13em / $BASE_FONT_SIZE;
    line-height: $BASE_LINEHIGHT_JP;
  }
}

//link after svg
.svg{
  width: 6px;
  height: 10px;
  display: inline;
  vertical-align: baseline;
  position: relative;
}

//media query
@mixin media($mediaSize) {
  @if $mediaSize == pc {
    // PC用
    @media (min-width: $BREAK_POINT_TABLET + 1) {
      @content;
    }
  } @else if $mediaSize == tb {
    // タブレット用
    @media (min-width: $BREAK_POINT_SP + 1) and (max-width: $BREAK_POINT_TABLET) {
      @content;
    }
  } @else if $mediaSize == sp {
    // SP用
    @media (max-width: $BREAK_POINT_SP) {
      @content;
    }
  } @else if $mediaSize == landscape {
    @media only screen and (orientation: landscape) {
      @content;
    }
  }
}

@mixin mq($min-width, $max-width) {
  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin mq-min($min-width) {
  @media (min-width: $min-width) {
    @content;
  }
}

@mixin mq-max($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

@mixin placeholder() {
    &:placeholder-shown {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}


///show animation
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
