@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section01
*
-------------------------------------------------------------------------------- */
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  // @include max(768) {
  //   width: calc(100% - 30px);
  //   margin-left: 30px;
  // }
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  &__btn {
    padding: 10px 20px;
    border: 1px solid #000;
    cursor: pointer;
  }

  &__right {
    margin-left: 100px;
  }
}
