/*-----------------------
business
------------------------*/
.lede {
	padding: 35px 15px;
	&__text {
		@include fontSize(13);
		line-height: 2;
		text-align: left;
	}
}

.contents {
	padding: 40px 0;
	&__inner {
		width: $innerWidth;
		padding: 0 15px;
	}
}

.anker {
  margin-top: -72px;
  padding-top: 72px;
}

.report {
	width: 100%;
	margin-bottom: 30px;
	&.last {
		margin-bottom: 0;
	}
	&__showArea {
		@include clearfix;
		.showCul {
			position: relative;
			background-color: #0e0d69;
			width: 100%;
			padding: 15px 20px 15px;
			&__kind {
				border-radius: 50px;
				border: 1px solid #fff;
				width: 100%;
				padding: 8px 15px;
				margin-bottom: 10px;
				@include fontSize(11);
				text-align: center;
			}
			&__title {
				@include fontSize(16);
				line-height: 1.8;
			}
			&__text {
				@include fontSize(13);
				margin-bottom: 20px;
			}
		}
	}
	&__btn {
		cursor: pointer;
		display: inline-block;
		background-color: #0e0d69;
		position: absolute;
		top: auto;right: 50%;bottom: 15px;
		transform: translate(50%,0);
		border-radius: 2.5px;
		width: percentage(160/290);height: auto;
		padding: 11.5px 0;
		@include fontSize(12);
		color: #fff;
		font-weight: 500;
		text-align: center;
		&:before {
			opacity: 1;
			top: 50%;left: auto;right: 15px;
			transform: translate(0,-50%);
			width: 2px;height: 13px;
		}
		&:after {
			top: 50%;left: auto;right: 10px;
			transform: translate(0,-50%);
			width: 13px;height: 2px;
		}
		&.is-ac {
			transform: translate(50%,0) rotate(0);
      transition: all .2s ease;
      &:before {
				opacity: 0;
        transform: translate(0,-50%) rotate(0);
        transition: all .2s ease;
      }
      &:after {
        transform: translate(0,-50%) rotate(0);
        transition: all .2s ease;
      }
    }
	}
	&__hideArea {
		position: relative;
		width: 100%;
		padding: 15px 15px 72px;
		&--lede {
			@include fontSize(13);
			line-height: 2;
		}
	}
	.hideCul {
		position: relative;
		margin-top: 45px;
		&__sub {
			margin-bottom: 15px;
			@include fontSize(15);
			line-height: 1.8;
		}
		&__text {
			@include fontSize(13);
			line-height: 1.8;
			&.oneCul {
				width: 100%;
			}
			&.twoCul {
				width: 100%;
			}
			& span {
				display: block;
				@include fontSize(11);
				&:nth-of-type(1) {
					margin-top: 12px;
				}
			}
		}
		&__img {
			&.oneCul {
				position: relative;
				width: 100%;
		    margin: 30px auto 0;
				& figcaption {
					margin-bottom: 12px;
					@include fontSize(12);
				}
			}
			&.twoCul {
				position: relative;
				top: 0;right: 0;
				transform: translateY(0);
				width: 100%;
				margin: 32px auto;
				z-index: 1;
				&.art3 {
					top: 0;
			    transform: translateY(0);
					& figcaption {
						width: percentage(480/520);
						margin: 10px auto 0;
					}
				}
				&.art4 {
					top: 0;
			    transform: translateY(0);
					& figcaption {
						width: 100%;
						margin: 10px auto 0;
					}
				}
				& img {
					position: relative;
					top: auto;
					transform: translate(-50%,0);
				}
				& .img01-01 {width: 100%;}
				& .img01-02 {width: 100%;}
				& .img01-03 {width: 100%;}
				& .img03-01 {width: 100%;}
				& .img03-02 {width: 100%;}
				& .img03-03 {width: percentage(480/520);}
				& .img04-01 {width: 100%;}
				& .img04-02 {width: percentage(400/520);}
				& .img04-03 {width: percentage(400/520);}
				& .img04-04 {width: 100%;top: 0;}
				& figcaption {
					margin-top: 10px;
					@include fontSize(10);
				}
				& .small {
					@include fontSize(10);
				}
			}
			&.twoImg {
				width: 100%;
				margin: 32px 0 0;
				& figure {
			    width: 100%;
			    margin-right: 0;
					margin-bottom: 30px;
					&:last-child {
			      margin-right: 0;
						margin-bottom: 0;
			    }
					& figcaption {
						margin-top: 10px;
						@include fontSize(10);
					}
				}
			}
			&.full {
				width: 100%;
				margin: 22px auto;
			}

		}
	}
}
