.special{
  width: 100%;
  box-sizing: border-box;
  &--innner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--contentswrapper{
    width: 100%;
  }
  &--contents{
    display: flex;
    //align-items: center;
    justify-content: center;
    max-height: calc(100vh - 80px - 71px - 80px);
  }
}

.special--contents{
  $special_wid : 600 + 320;
  &--first{
    //660 × 400
    width:calc(100% * (660 / #{$special_wid}) - 10px);
    margin-right: 20px;
  }
  &--second{
    //320 × 180
    width:calc(100% * (320 / #{$special_wid}) - 10px);
    .special--contents--item{
      width: 100%;

      &:first-child{
        margin-bottom: 20px - ((13px*1.4 - 13px)/2);;
      }
    }
  }
  &--item{
    width: 100%;
    color: $BASE_COLOR_DARKBROWN;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 0;
    &:last-child{
      margin-bottom: 0;
    }
    img{
      width: 100%;
      object-fit: cover;
    }
    p{
      display: inline-block;
      @extend .jp;
      font-size: 13rem / $BASE_FONT_SIZE;
      line-height: 1.4;
      margin-top: 10px - ((13px*1.4 - 13px)/2);
      position: relative;
      text-align: justify;
      transition: color .3s  $easeINCubic;
      .demo{
        width: auto;
        display: inline;
      }
      span{
        transform: scaleX(1);
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: $BASE_COLOR_BROWN;
      }
    }
    &:hover{
      p{
        color: #BE966F;
        text-decoration: underline;
      }
    }
  }




}


@include mq-max($BREAK_POINT_SP){
  .special{
    &--contents{
      flex-flow: column;
    }
  }
  .special--contents{
    &--first{
      width: 100%;
      margin-bottom: 30px - ((13px*1.4 - 13px)/2);
    }
    &--second{
      width: 100%;
      display: flex;
      .special--contents--item{
        display: inline-block;
        font-size: 0;
        width: calc(50% - 10px);
        &:first-child{
          margin-bottom: 0;
          margin-right: 20px;
        }
      }
    }
  }
};
