/* --------------------------------------------------------------------------------
*
*   dat gui
*
-------------------------------------------------------------------------------- */
.dg.a {
   overflow: visible !important;
}
.dg li.color {
  overflow: visible !important;
}

.dg.ac {
  z-index: 999999 !important;
}