<!-- ************************************************************
//  section01
// ************************************************************ -->
<section class="section">
  <div class="slot">
    <div class="wheel js-slot_wheel">
      <div class="wheelInner js-slot_wheel_inner">
        <div class="wheelPic"></div>
      </div>
    </div>

    <div class="btns">
      <div class="btn -start js-slot_startbtn">
        <span>START</span>
      </div>
      <div class="btn -stop js-slot_stopbtn">
        <span>STOP</span>
      </div>
    </div>
  </div>
</section>
