@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   list
*
-------------------------------------------------------------------------------- */
.list {
  margin-left: 100px;

  &__inner {
    display: flex;
    justify-content: flex-start;
    // overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 3rem;

    &::-webkit-scrollbar {
      height: 10px;
      display: block;

      @include media-max(sp) {
        height: 8px;
      }
    }
    &::-webkit-scrollbar-track {
      background: #f2f2f2;
      border-radius: 8px;
      // margin-right: 8rem;
      margin-right: 50px;
    }
    &::-webkit-scrollbar-thumb {
      background: #5f6469;
      border-radius: 8px;
    }
  }

  &__item {
    min-width: 300px;
    max-width: 300px;
    position: relative;

    img {
      width: 100%;
    }

    &:nth-child(n + 2) {
      margin-left: 50px;
    }

    &:last-child {
      &::after {
        position: absolute;
        top: 0;
        left: 100%;
        width: 50px;
        height: 1px;
        content: "";
      }
    }
  }
}
