<!-- ************************************************************
//  block06
// ************************************************************ -->
<div class="block block06">

	<!-- box -->	
	<div class="box">

		<div class="titWrap">
		<div class="textInner">
			<div class="tit">MUSIC</div>
			<div class="text">ミュージック</div>
		</div>
		</div>

		<div class="boxInner">
			<div class="lineBoxWrap scrollBox" data-color="3"></div>
			<div class="img scrollBox"></div>
			<div class="tit scrollBox">LUCKY TAPES</div>
			<div class="sns flex scrollBox">
				<div class="item"><a href="http://luckytapes.com/" class="blank"><svg viewBox="0 0 14 14"><use xlink:href="#icon-web"></use></svg></a></div>
				<div class="item"><a href="https://www.facebook.com/myluckytapes/" class="blank"><svg viewBox="0 0 14 14"><use xlink:href="#icon-facebook-rect"></use></svg></a></div>
				<div class="item"><a href="https://twitter.com/luckytapes" class="blank"><svg viewBox="0 0 14 14"><use xlink:href="#icon-twitter"></use></svg></a></div>
				<div class="item"><a href="https://www.instagram.com/luckytapes_jp/" class="blank"><svg viewBox="0 0 14 14"><use xlink:href="#icon-instagram"></use></svg></a></div>
			</div>
			<div class="text display sp scrollBox">
				高橋海、田口恵人、高橋健介の3人組。2015年に1stアルバム『The SHOW』をリリース。 翌2016年にEP『MOON』、2ndアルバム『Cigarette & Alcohol』をリリースし、多数のフェスへ出演。2017年9月にEP『Virtual Gravity』をリリースし、そのツアーファイナルにてメジャーデビューを発表。ホーン・セクションや女性コーラス、パーカッションなどを加えた総勢9名のライブ・パフォーマンスは、国内はもとより中国や台湾、タイ、韓国 などアジア各国でも高い人気を集める。2018年5月にリリースしたメジャーデビューEP 『22』とそれに伴う東名阪ツアーも各所で高評価を受け、10月3日にメジャー1stアルバム『dressing』のリリースとバンド最大規模となる全国ツアーの開催を発表。
			</div>
			<div class="text display pc scrollBox">
				<div class="textIn">
					高橋海、田口恵人、高橋健介の3人組。2015年に1stアルバム『The SHOW』をリリース。 翌2016年にEP『MOON』、2ndアルバム『Cigarette & Alcohol』をリリースし、多数のフェスへ出演。2017年9月にEP『Virtual Gravity』をリリースし、そのツアーファイナルにてメジャーデビューを発表。ホーン・セクションや女性コーラス、パーカッションなどを
				</div>
				<div class="textIn">
					加えた総勢9名のライブ・パフォーマンスは、国内はもとより中国や台湾、タイ、韓国 などアジア各国でも高い人気を集める。2018年5月にリリースしたメジャーデビューEP 『22』とそれに伴う東名阪ツアーも各所で高評価を受け、10月3日にメジャー1stアルバム『dressing』のリリースとバンド最大規模となる全国ツアーの開催を発表。
				</div>
			</div>
		</div>

	</div>
	
</div>	