<!-- ************************************************************
//  block05
// ************************************************************ -->
<div class="block block05">

	<div class="rect rect01"></div>

	<div class="lineBoxWrap scrollBox"></div>

	<div class="img img01 scrollBox"></div>
	<div class="img img02 scrollBox"></div>
	<div class="img img03 scrollBox"></div>

	<div class="texts scrollBox">
		<div class="text"><div class="textIn">喫茶「アンデルセン」<span>―――</span></div></div>
		<div class="text"><div class="textIn">さみしがりやのマスター(でんでん)が営む、</div></div>
		<div class="text"><div class="textIn">やけにスノードームが多い店。</div></div>
	</div>

	<div class="img img04 scrollBox"></div>
		
</div>