<!-- ************************************************************
//  block07
// ************************************************************ -->
<div class="block block07">

	<!-- box -->	
	<div class="box">

		<div class="titWrap">
		<div class="textInner">
			<div class="tit">SPECIAL</div>
			<div class="text">スペシャル</div>
		</div>
		</div>
	
		<div class="textW">
			<div class="textWrap flex">
				<div class="titWrap">
					<div class="tit1">MATCH GIRLS</div>
					<div class="tit2">決定稿</div>
					<div class="tit3">此元和津也</div>
					<div class="tit4">2018/10/16</div>
				</div>
				<div class="text text1">
	シーン1
	○どこかの街・駅前など(クリスマスイブ・夜)				　　　　　　
	            大きなクリスマスツリーがある
				</div>
			</div>

			<div class="arrow arrowl"><%- include('../../../../dist/assets/resource/img_sp/sec08/left_btn.svg'); %></div>
			<div class="arrow arrowr"><%- include('../../../../dist/assets/resource/img_sp/sec08/right_btn.svg'); %></div>

			<div class="ui">
				<div class="bar"></div>
				<div class="ball"></div>
				<div class="num flex">
					<div class="cur">1</div>
					<div class="str">/</div>
					<div class="total">48</div>
				</div>
			</div>

		</div>

	</div>

</div>	