<!-- ************************************************************
//  block07
// ************************************************************ -->
<div class="block block07">

	<!-- box -->	
	<div class="box">

		<div class="rect rect01"></div>
		<div class="rect rect02"></div>

		<div class="titWrap titWrap1">
		<div class="textInner">
			<div class="tit">STAFF</div>
			<div class="text">スタッフ</div>
		</div>
		</div>

		<div class="boxInWrap">
		
			<!-- boxIn -->
			<div class="boxInner scrollBox">
				<div class="lineBoxWrap" data-color="3"></div>
				<div class="img"></div>
				<div class="tit"><div class="in">此元和津也/<span>脚本</span></div></div>
				<div class="text">
					2010年、漫画『スピナーベイト』で漫画家としての活動をスタート。 2013年、読み切りで掲載された「マジ雲は必ず雨」が人気を集め、 その後「セトウツミ」に改題、連載スタート。2014年には、「聾の形」「弱虫ペダル」「僕だけがいない街」など名だたる作品と共に『第18回手塚治虫文化賞-読者賞』にノミネートされる。<br>
					同じ場所、同じ二人の会話だけで繰り広げられる物語は、 その後映画化、ドラマ化と拡大していき大ヒット。
					現在は、その作品の切り口、ストーリー展開の作家性を生かして、 漫画以外の領域へも活動の場を広げる。
					12月30日までの期間限定で、「セトウツミ」の1巻<a href="https://sokuyomi.jp/product/setoutumi_001/CO/1/" class="blank">無料試し読みキャンペーン</a>実施中。
				</div>
			</div>

			<!-- boxIn -->
			<div class="boxInner scrollBox">
				<div class="lineBoxWrap" data-color="3"></div>
				<div class="img"></div>
				<div class="tit"><div class="in">山岸聖太/<span>監督</span></div></div>
				<div class="text">
					1978年生まれ。関和亮が中心となって立ち上げたKoe(コエ)に所属。映像ディレクターとしてミュージックビデオ、テレビド ラマ、CMなどを手がける。これまでにKANA-BOON、乃木坂46、ユニコーンなど多数のMVを制作。また、映像制作チーム「山田一郎」のメンバーとして、星野源、デザイナー大原大次郎と共にインストバンドSAKEROCKのMV、DVDなどの構成・ 演出・編集を担当、その他にも星野源の映像作品に数多く携わる。ショートショートフィルムフェスティバル&アジア2015では短編作品「生きてゆく完全版」がシネマチックアワードを受賞。その後、映画「あさはんのゆげ(2016)」「傷だらけの 悪魔(2017)」を監督。2018年10月からは、新春に放送して好評を博した高畑充希主演「忘却のサチコ(TX)」の連ドラの監督を務める。
				</div>
			</div>

		</div>

		<div class="texts display sp scrollBox">
			<div class="lineBoxWrap" data-color="3"></div>
			<div class="text flex">
				<div class="textIn">主題歌：</div>
				<div class="textIn">LUCKY TAPES 「ワンダーランド」</div>
			</div>
			<div class="text flex">
				<div class="textIn"></div>
				<div class="textIn">(ビクターエンタテインメント)</div>
			</div>
			<div class="text flex">
				<div class="textIn">企画：</div>
				<div class="textIn">加我俊介、三島邦彦</div>
			</div>
			<div class="text flex">
				<div class="textIn">プロデューサー：</div>
				<div class="textIn">栗川愛子、加島貴彦(P.I.C.S.)</div>
			</div>
			<div class="text flex">
				<div class="textIn">制作協力：</div>
				<div class="textIn">P.I.C.S.</div>
			</div>
			<div class="text flex">
				<div class="textIn">製作：</div>
				<div class="textIn">LUMINE</div>
			</div>
		</div>
		<div class="texts display pc scrollBox">
			<div class="lineBoxWrap" data-color="3"></div>
			<div class="text flex">
				<div class="textIn">主題歌：</div>
				<div class="textIn">LUCKY TAPES 「ワンダーランド」</div>
			</div>
			<div class="text flex">
				<div class="textIn"></div>
				<div class="textIn">(ビクターエンタテインメント)</div>
			</div>
			<div class="text flex">
				<div class="textIn">企画：</div>
				<div class="textIn">加我俊介、三島邦彦</div>
			</div>
			<div class="text flex">
				<div class="textIn">プロデューサー：</div>
				<div class="textIn">栗川愛子、加島貴彦(P.I.C.S.)</div>
			</div>
			<div class="text flex">
				<div class="textIn">制作協力：</div>
				<div class="textIn">P.I.C.S.</div>
			</div>
			<div class="text flex">
				<div class="textIn">製作：</div>
				<div class="textIn">LUMINE</div>
			</div>
		</div>

	</div>

	<!-- box -->	
	<div class="box toSpecial">

		<div class="titWrap titWrap2">
		<div class="textInner">
			<div class="tit">SPECIAL</div>
			<div class="text">スペシャル</div>
		</div>
		</div>
	
		<div class="textW scrollBox slider">
			<div class="textWrap flex">
			<div class="textInIn">
			<div class="textYokoSc">

<!-- text -->
<div class="text text1">
<div class="titWrap">
	<div class="tit1">MATCH GIRLS</div>
	<div class="tit2">決定稿</div>
	<div class="tit3">此元和津也</div>
	<div class="tit4" style="opacity: 0">2018</div>
</div>
<br>
<span class="scene0">1</span>どこかの街・駅前など　(クリスマスイブ・夜)<br>
<br>
　　　　　　大きなクリスマスツリーがある。<br>
　　　　　　その前でカップルたちが待ち合わせをしたり、<br>
　　　　　　写真を撮ったりしている。<br>
　　　　　　通りすがりの相川杏奈は、その様子を見つめる。<br>
相 川「…」<br>
　　　　　　そして立ち去る。<br>
<br>
<br>
           タイトル「MATCH GIRLS」<br>
<br>
<br>
<br>
<span class="scene0">2</span>純喫茶『アンデルセン』 (クリスマスイブ・夜)<br>
<br>
　　　　　　店内にはそこそこの客。ほぼカップル。<br>
　　　　　　一人客の男がスマホを見ている。<br>
　　　　　　マスターは白いひげのおじいさん。<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text2">
　　　　　　店内を掃除しながらニコニコしている。<br>
<br>
マスター「待ち合わせ？」<br>
　　男　「……え、はい？」<br>
マスター「いや今日、ほら」<br>
　　　　　マスターはクリスマスツリーを指差す。<br>
　　男　「いや、まあ、別に」<br>
マスター「え、違うの」<br>
　　男　「待ち合わせっていうか…（はっきり言わない）」<br>
マスター「あ、そう。……（スマホ覗く）」<br>
　　男　「ちょっ…なんですか。見ないでください」<br>
マスター「見てないよ」<br>
　　男　「見てるじゃないですか」<br>
マスター「待ってるだけじゃダメよ。そういう日でしょ今日は。<br>
　　　　　　あ、コーヒーお代わりする？ よね」<br>
　　　　　　仕事に戻るマスター。<br>
<br>
　　　　　　離れた席からその様子を見つめる二人の女性。<br>
　　　　　　二人は高校時代の同級生であるが、<br>
　　　　　　大して仲が良いわけではなかった。<br>
　　　　　　久しぶりに会った二人には少し距離がある。<br>
相　川「…」<br>
別　所「…」<br>
　　　　　　別所はスマホをいじる。相川は男を見つめたまま。<br>
相　川「こないだズッキーニ洗ってる時に考えたんですけど」<br>
別　所「…ズッキーニ？」<br>
相　川「ええ。お店でハンバーグ頼んだ時に自分で焼く用の丸い石<br>
　　　　？みたいな、これでどうぞお好きな加減で焼いてお召し上<br>
　　　　がりください的なやつの名前が思い出せなくて」<br>
別　所「あーなんだっけ。…バレッタみたいな」<br>
相　川「ペレットなんですけど」<br>
別　所「あーペレットね」<br>
相　川「覚えにくいじゃないですか？」<br>
別　所「まあね」<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text3">
相　川「覚え方を考えたんですよ」<br>
別　所「どんな？」<br>
相　川「小動物の餌って覚えればいいんですよ」<br>
別　所「え、小動物の餌もペレットって言うの？」<br>
相　川「そうなんです。これでどうぞお好きな加減で焼いてお召し<br>
　　　　上がりください的な丸い石と、小動物の餌を関連付ければ<br>
　　　　もう忘れないんじゃないかと思って」<br>
別　所「でも小動物の餌なんてたくさんありすぎて難しいでしょ。<br>
　　　　ペレットってすぐ出てくる？」<br>
相　川「そこは大丈夫です。小動物の餌といえばペレットってわた<br>
　　　　し完全に認識してるし昔フェレット飼ってたんで。…あれフ<br>
　　　　ェレットですよね？」<br>
別　所「知らないよ。ややこしいなフェレットとかペレットとか。で、<br>
　　　　ズッキーニはなんだったの？」<br>
相　川「だからまーくんですよ」<br>
<br>
別　所「ん？」<br>
相　川「ズッキーニ洗ってる時にそれを考えてたんです。まーくん<br>
　　　　がハンバーグ食べたいって言ってたなあと思って」<br>
別　所「もう何が何だか。ゴチャついてるよ会話が全体的に！<br>
　　　　ズッキーニ全然関係ねーじゃん。ややこしいよ！」<br>
相　川「そうですか？」<br>
別　所「何でズッキーニ洗いながらハンバーグのこと考えんのよ」<br>
相　川「だって…」<br>
<br>
　　〜ここから少しアドリブで会話〜<br>
<br>
　　　　　　×　　×　　×<br>
<br>
相　川「でもペレットみたいな、そんな感じの、同じ発音なのに違<br>
　　　　う意味みたいな言葉って結構多くないですか？　同音異義<br>
　　　　語ってやつ？」<br>
別　所「え、例えば？」<br>
　　　　　　辺りを見渡す相川。<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text4">
相　川「…まあパッとは出てこないんですけど」<br>
別　所「なんだよ！」<br>
相　川「しかしさすがにカップルばっかりですね」<br>
別　所「クリスマスイブだもん。ていうか、なんで敬語？」<br>
相　川「いや、うーん。なんとなく。…久しぶりだし？」<br>
別　所「…」<br>
　　　　　　またスマホをいじり出す別所。<br>
相　川「あーハンバーグの話したらお腹すいてきちゃった」<br>
別　所「じゃあもう少ししたらどっか食べに行こっか」<br>
相　川「え、二人で？」<br>
別　所「嫌なら別にいい」<br>
相　川「そういえば別所さんさ、なんで私誘ってくれたの？」<br>
別　所「え、別に。みんなに声かけたけど、空いてたのが相川さん<br>
　　　　だけだった。から？」<br>
相　川「ふーん。まあそんなことだろうと思った。だって高校の時<br>
　　　　からこうやって二人きりってなかったよね。だからいますっ<br>
　　　　ごい気まずい」<br>
別　所「あっそ。その割にはよく喋るよね」<br>
相　川「…」<br>
別　所「ま、本音言うと誰でも良かったんだー。１人で過ごすより<br>
　　　　マシだからねー。すんませんね付き合わせちゃって。ここワ<br>
　　　　タシ払うんで」<br>
相　川「うわ、めんどくさ」<br>
別　所「……（またスマホ見出す）」<br>
相　川「ふーん、でもなんか意外。<br>
　　　　だって高校の時から一匹狼なイメージだったからね別所さ<br>
　　　　ん」<br>
別　所「なんかさあ、そういう女同士の付き合い？みたいの苦手な<br>
　　　　んだよね」<br>
相　川「えーそう？楽じゃない？気にせず好きなもの食べれるしさ。<br>
　　　　パフェとパンケーキ交互とか…」<br>
別　所「その服かわいいね」<br>
　　　　　　自分の服を確認し、嬉しそう顔を上げる相川。<br>
相　川「！ でし…（ょ！？）」<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text5">
別　所「（食い気味に）とか言うのすっごい！苦手なんだ」<br>
　　　　　　わかりやすく落胆する相川。<br>
相　川「…」<br>
別　所「でも相川さんは来ないと思ってたよ。だってまーくんとま<br>
　　　　だ続いてるんでしょ？」<br>
相　川「うん」<br>
　　　　　　なんだか元気がない相川。<br>
別　所「長くない？高校の時からだよね」<br>
相　川「来年で８年目」<br>
別　所「はちねーん」<br>
　　　　　　×　　×　　×<br>
　　　　　　まーくん (インサート)<br>
　　　　　　スーツで証明写真機に座るまーくん。<br>
　　　　　　（テロップ：まーくん）<br>
　　　　　　×　　×　　×<br>
別　所「じゃあ８年つったらまあそろそろ御結婚とかそういう…」<br>
相　川「……」<br>
別　所「あれ。どうした？もしかして…うまくいってないの？え？」<br>
　　　　ニヤニヤする別所<br>
相　川「就職でまーくんが四国に配属されてから、なんかぎくしゃ<br>
　　　　くしてて」<br>
別　所「四国！」<br>
相　川「四国」<br>
別　所「四国ぅ〜。遠いなあ！遠いよ四国は！橋渡るよね？」<br>
相　川「渡る。瀬戸大橋」<br>
別　所「（食い気味に）遠い〜！！やっぱ遠距離って難しいんだ？く<br>
　　　　うっ〜クリスマスなのに会えないのツライね〜。ツレー。キ<br>
　　　　チィ〜」<br>
相　川「私が思うに…」<br>
別　所「なになになに」<br>
相　川「四国で新しい女ができたんじゃないかと」<br>
別　所「いやいやそんなことないよぉ。信じてあげようよまあくん<br>
　　　　をぉ…って言いたいとこだけどまーくんモテてたからなあ。<br>
　　　　バレー部副キャプテンだし。筋肉！」<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text6">
相　川「なんかあからさまに返事が遅いんだ最近。今日も電話した<br>
　　　　んだけど出ないし、言い訳の連絡もない」<br>
別　所「そっかあ。心配だね。多分今頃ぉ、四国でぇ、気の強い土佐<br>
　　　　犬みたいな人とデートだよきっと。ラブ」<br>
　　　　　　睨む相川。<br>
別　所「…ま、おかげで私はクリスマスイブにひとりきりは避けら<br>
　　　　れたんだけどね。土佐犬に乾杯」<br>
相　川「ていうかそっちこそどうなってんのよ最近」<br>
別　所「別になんにもないよ。なんにもなさすぎて最近、ジグソー<br>
　　　　パズルとかやってる笑」<br>
相　川「笑」<br>
別　所「それも２０００ピースの」<br>
相　川「え？なんの？なんの絵柄？」<br>
別　所「え、内緒だよ」<br>
相　川「え！教えてよ」<br>
別　所「やだよ。ふつー教えないでしょパズルの柄」<br>
相　川「そのふつーわからない」<br>
別　所「めちゃくちゃカッコいいの見つけたんだー」<br>
　　　　　　×　　×　　×<br>
　　　　　　別所の部屋 (インサート)<br>
　　　　　　部屋に作りかけのパズルが置いてある。図柄は「金閣寺」。<br>
　　　　　　×　　×　　×<br>
相　川「なんだよ、気になるじゃん、教えてよ」<br>
別　所「ダメ。教えると運気が下がる」<br>
相　川「運気？パズルに運気とかあるの？」<br>
別　所「あとちょっとで完成なのよ。もう見えてる状態」<br>
相　川「見えてる？なにが？」<br>
別　所「”アレ”が。アレはもう出来てんの」<br>
<br>
　　〜ここから少しアドリブで会話〜<br>
<br>
　　　　　　×　　×　　×<br>
<br>
　　　　　　マスター、カウンターにて食器を拭いている。（時間経過）<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text7">
<br>
<span class="scene0">3</span>同<br>
<br>
相　川「あ、でもクリスマスってバイト忙しいんじゃないの？」<br>
別　所「うん。だからだいぶ前から２４、２５は休みにしてくれっ<br>
　　　　て言ってあったの。ときめくようなことがあっても対応でき<br>
　　　　るように」<br>
相　川「で結果は？」<br>
別　所「ごらんの有様です」<br>
相　川「笑」<br>
別　所「なんかさ、柄にもなく今日占いを見たわけ。そしたら「お<br>
　　　　気に入りのスニーカーを履いていくといい事あるかも」って<br>
　　　　書いてあったから」<br>
相　川「履いてきたんだ笑」<br>
別　所「健気だわ私」<br>
　　　　　　足元を覗き込む相川。新品に近いキレイなスニーカー。そ<br>
　　　　　　のつま先を揺らす別所。<br>
相　川「でもほんとにいいことあるかもよ」<br>
別　所「あーなんか、マッチングアプリでもしようかな」<br>
相　川「えー私もしたい」<br>
別　所「あ、そんな事言っちゃうんだ。まーくん今頃、四万十ブルー<br>
　　　　を一望できるレストランだしねー」<br>
相　川「だからなんでさっきから高知県って決めつけてるの。四国<br>
　　　　としか言ってないのに」<br>
別　所「あ、違うんだ。いやほら土佐犬だから」<br>
相　川「なにが」<br>
別　所「わかんない。ていうか土佐犬って言葉、今日初めて発した<br>
　　　　かも私。…やばい何かドキドキしてきた。どうしよう。ねえ、<br>
　　　　土佐犬のパズルって売ってるかな」<br>
相　川「知らないし」<br>
別　所「（ケータイをいじり）土佐犬…パズル…2000ピース」<br>
<br>
<br>
<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text8">
相　川「え、ていうかさ。前からクリスマス空けてたってことは誰<br>
　　　　か候補がいたってことでしょ？」<br>
別　所「まあ…ね」<br>
相　川「誰？好きな人？」<br>
別　所「うん。同じバイト先のひとつ上の人なんだけど」<br>
相　川「へー。どんな人？名前は？」<br>
別　所「飯田さんって言うんだけど、バンドマンで」<br>
　　　　　　×　　×　　×<br>
　　　　　　バンドマン飯田さん (インサート)<br>
　　　　　　楽器を背負い証明写真機に座る飯田さん。<br>
　　　　　　（テロップ：飯田さん）<br>
　　　　　　×　　×　　×<br>
相　川「うわー。別所さん好きそう。高校の時もなんか、マジシャン<br>
　　　　みたいな人と付き合ってたもんね」<br>
別　所「……」<br>
　　　　　　×　　×　　×<br>
　　　　　　別所の元カレ (インサート)<br>
　　　　　　証明写真機にて満面の笑みでポーズをとる怪しげな元カレ。<br>
　　　　　　（テロップ：別所元カレ）<br>
　　　　　　×　　×　　×<br>
別　所「思い出させないでよ」<br>
相　川「あの人何だったの？」<br>
別　所「私もよくわかんない。本人はマルチクリエイターって言っ<br>
　　　　てたけど」<br>
相　川「なんでもつくっちゃうんだ。<br>
　　　　え、どこが好きだったの？」<br>
別　所「うーんと…」<br>
<br>
　　〜ここから少しアドリブで会話〜<br>
<br>
<span class="scene0">4</span>同<br>
別　所「つーか私が好きそうってどういうこと？あの自称クリエイ<br>
　　　　ターとバンドマンの飯田さん一緒にしないで」<br>
<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text9">
相　川「夜明けを待たずに幌を張るタイプのドリーマーが好きな<br>
　　　　のかなって」<br>
別　所「…なんだっけそれ。帆を張るなんちゃら」<br>
相　川「わからないならイイ」<br>
別　所「ていうか、それわたしめっちゃ身の程知らずじゃん」<br>
相　川「で、飯田さんは誘ってみたの？」<br>
別　所「シフト見たらさ、飯田さんもバイト入れてなかったから」<br>
相　川「おお！」<br>
別　所「予定入ってるんだろうなー、とか思いながらも昨日ダメ元<br>
　　　　でメッセ送ってみた」<br>
相　川「なんて？」<br>
別　所「明日か明後日空いてたりしませんか？って」<br>
相　川「そしたら？」<br>
別　所「未読スルー」<br>
相　川「そっかあ」<br>
別　所「あーなんかいいことないかなあ」<br>
相　川「じゃあさ、対決しよっか？」<br>
別　所「は？なんの？」<br>
相　川「お互い好きな人に連絡して、先に返事がきたほうが勝ち」<br>
別　所「相川さんってさ、見かけによらず残酷だよね。最近冷たい<br>
　　　　とはいえ８年付き合ってるあなたのまーくんと、私の片思い<br>
　　　　の飯田さんって勝負見えてるじゃん」<br>
相　川「なあ別所美幸」<br>
別　所「フルネームやめろ」<br>
相　川「私が思うに別所美幸はさ、プライドが高くて色々損してるんだ」<br>
別　所「…は？」<br>
相　川「昔からそう」<br>
別　所「…アンタなに言ってんの」　　<br>
相　川「だって美幸はさあ」<br>
別　所「……」<br>
相　川「高校の時から、ずっと私のこと、見下してるでしょ？<br>
　　　　…今だってそうなんでしょ？」<br>
別　所「……」<br>
</div>
<!-- text -->


<!-- text -->
<div class="text text10">
相　川「……」<br>
　　　　　　微妙な空気が流れる中、見つめ合う２人。<br>
<br>
　　　　　　店の奥で何か（銀トレー）が落ちる音がする。<br>
　　　　　　店内の人々が音の方を見つめるが、二人は視線を外さない。<br>
<br>
<span class="scene0">5</span>同<br>
相　川「……」<br>
別　所「（鼻で笑う）何言い出すかと思ったら」<br>
相　川「でも本当のことでしょ」<br>
別　所「わかってないなあ〜」<br>
相　川「なにが」<br>
別　所「…逆だよ。相川さんは優等生だったし、吹奏楽部も高校大<br>
　　　　学と一生懸命やってたみたいだし、今もＯＬしながらマーチ<br>
　　　　ング活動やってたり。私なんか美術系の専門学校出てから<br>
　　　　は適当にバイトしてさ、だからなんていうか、見下すとかじ<br>
　　　　ゃなくて、種類が違うなって思ってた。ていうかむしろ羨ま<br>
　　　　しいとすら思ってたよ」<br>
相　川「…」<br>
別　所「自信がないんだ自分に。専門学校の卒業制作の前にさ、同<br>
　　　　級生が出席日数足りずに除籍になったの。<br>
　　　　その時私さ……」<br>
　　　　　　×　　×　　×<br>
　　　　　　専門学校時代の別所 (インサート)<br>
　　　　　　校内。ロッカーの荷物をまとめて去る同級生。見つめる別所。<br>
　　　　　　口元が緩む。<br>
　　　　　　×　　×　　×<br>
<br>
別　所「笑っちゃったんだ。ざまあみろーって。喜んじゃった。<br>
　　　　それぐらいコンプレックスが強いんだよ。でもね、その同級<br>
　　　　生、今はフリーでイラストレーターやってる。んで、私はと<br>
　　　　いうと、スキル活かせないままフリーター。だか<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text11">
　　　　ら、自分のやりたいことやって充実してる相川さんにも引け<br>
　　　　目感じてたんだ」<br>
相　川「ふーん…そうだったんだ」<br>
別　所「…」<br>
相　川「…あれ、なんでそんな話になったんだっけ」<br>
別　所「いやだから…なんか勝負って」<br>
相　川「あ、そうだそうだ」<br>
別　所「なんだよ（呆れる）」<br>
相　川「だから！ そんな私達がクリスマスイブに、<br>
　　　　この古びた喫茶店で２人きり。これも運命だよ」<br>
別　所「……」<br>
相　川「もうプライドなんか捨てて今日は本音で楽しもうよ。<br>
　　　　過剰に褒めたり慰めたりしない、同調もいらない。ね！」<br>
別　所「…わかった。受けて立つよこの負け戦に」<br>
相　川「そうそう、たまには負け顔を見せるのも大事だよ」<br>
別　所「じゃあこうしよう。至急電話くださいってメッセ送って、先<br>
　　　　に電話がかかってきたほうが勝ち」<br>
相　川「おっけー。既にまーくんから電話無視されてるけど」<br>
　　　　　　スマホに向かってメッセージを打つふたり。<br>
<br>
<span class="scene0">6</span>同<br>
　　　　　　メッセ画面 (インサート)<br>
　　　　　　「至急電話ください」と打つふたりの画面＆手元。<br>
　　　　　　×　　×　　×<br>
別　所「できた？いくよ？」<br>
相　川「うん。せーの」<br>
　　　　　　送信するふたり。<br>
相　川「あっ同音異義語」<br>
　　　　　　店のマッチ箱を手に取る相川。<br>
別　所「ん？何て」<br>
相　川「マッチングアプリの、マッチとマッチ」<br>
別　所「ああ、そのマッチとあのマッチ、綴り同じなんだ？」<br>
相　川「マッチってどういう意味かな。ニュアンスはわかるんだけ<br>
　　　　ど」<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text12">
別　所「お似合いとか釣り合うとか、似た者同士、とかそんなんじ<br>
　　　　ゃない？」<br>
相　川「なるほど」<br>
別　所「そう考えたら、飯田さんと私がお似合いだとは思えなくな<br>
　　　　ってきた。つら」<br>
相　川「なんかさ、人間ここまで進化してきたんだからさ、運命の<br>
　　　　人が現れた時に、おでこらへんにマッチ！って文字が出てき<br>
　　　　たら楽なのにね」<br>
　　　　　　前髪を開いておでこを見せる相川。<br>
　　　　　　そこに輝く「MATCH」の文字（CG）。<br>
別　所「いやいや！それはなんか心で感じたいでしょ！この人だっ<br>
　　　　ていう直感みたいなやつをさあ」<br>
相　川「（前髪直しつつ）私だってそう思ってたんだよ。でも間違い<br>
　　　　や勘違いってこともあるじゃん。まーくんと付き合って８年<br>
　　　　経ったけど、やっぱちょっと違うのかもって思う時もあるし、<br>
　　　　向こうもそう思ってるんじゃないかな。てかもういいよあん<br>
　　　　なやつ。違ったら違ったで、私とは釣り合わなかったって事<br>
　　　　だし。うんうんうんうん」<br>
別　所「じゃあマッチングアプリで探してみようよ。お似合いの人<br>
　　　　を」<br>
相　川「えー。なんか怖くない？（まだ前髪気にしてる）」<br>
別　所「もう前髪大丈夫だよ！さっきやりたいって言ったじゃん」<br>
相　川「うーん…」<br>
別　所「相変わらず優等生だなあ」<br>
相　川「わかった。そうだよね。おでこにマッチ！がいるかもしれな<br>
　　　　いし、やっぱり私にはまーくんこそが、おでこにマッチの人<br>
　　　　だったってわかるかもしれないし」<br>
別　所「言い過ぎだから、おでこにマッチ」<br>
　　　　　　スマホを眺める２人。<br>
<br>
　　　　　　マスター、カウンターにてコーヒーを淹れる。（時間経過）<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text13">
<span class="scene0">7</span>同<br>
<br>
別　所「これ。ちょうどいいじゃん「マッチバコ」だって」<br>
　　　　　　画面を相川に見せる。<br>
　　　　　　画面には「マッチバコ」のトップページ<br>
相　川「なるほど。男はマッチ棒の数だけいるって言うしね。<br>
　　　　よし。とりあえずプロフィール作ろうか」<br>
別　所「ノッてきてるじゃん」<br>
相　川「待ってるだけじゃ幸せは来ないもん。せっかくだから楽し<br>
　　　　まないとね。今日という日を」<br>
別　所「じゃあプロフの写真撮り合おうよ」<br>
　　　　　　相川にスマホを渡す別所。<br>
相　川「行くよー、はいチーズ」<br>
　　　　　　カシャ。<br>
　　　　　　×　　×　　×<br>
　　　　　　写真画面 (インサート)<br>
　　　　　　素の表情で映る別所。<br>
　　　　　　×　　×　　×<br>
相　川「証明写真より証明写真じゃん笑」<br>
別　所「ありのまま知ってもらった方が手っ取り早いし」<br>
相　川「なんかもっと、こんなんとかこんなんとか」<br>
　　　　　　かわいいポーズを取る相川。<br>
別　所「貸して（相川のスマホを受け取り）」<br>
　　　　　　相川のスマホでかわいいポーズの相川を連射撮影する別所。<br>
　　　　　　カシャカシャカシャカシャカシャカシャ。<br>
相　川「やめて」<br>
別　所「好きなの選んで」<br>
　　　　　　写真画面 (インサート)<br>
　　　　　　可愛いポーズの相川。<br>
相　川「ほらー。こっちの方が絶対おでこにマッチ率が格段にアッ<br>
　　　　プだよ」<br>
別　所「いや私は証明写真で行く。だっておでこにマッチはどんな<br>
　　　　状態の私でも見つけてくれるはず」<br>
相　川「いやいや証明写真のせいで見えるはずのおでこにマッチが<br>
　　　　光らずに消えて（しまう…）」<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text14">
別　所「（食い気味に）おでこにマッチって何」<br>
　　　　　　プロフィールを作成する２人。<br>
<br>
<span class="scene0">8</span>同<br>
　　　　　　プロフィール画面(インサート)<br>
　　　　　　相川、別所、それぞれ。スマホ上に表示。<br>
　　　　　　×　　×　　×<br>
別　所「よし、できた。私達にお似合いの人を探そう」<br>
相　川「すごーい。いっぱい登録者居るんだね」<br>
別　所「ほんとだ」<br>
相　川「美幸はどういう人がタイプなの？やっぱドリーマー？」<br>
別　所「うーん…」<br>
相　川「あ、じゃあそれをマッチに火をつけながら言ってみて」<br>
別　所「マッチに火をつけながら理想を語るの？なにそれ」<br>
相　川「誰一人として感動しない現代版マッチ売りの少女、それが<br>
　　　　別所美幸。マッチはいかが〜」<br>
別　所「切ないからやめて。今時マッチなんて売らないし」<br>
<br>
　　　　　　マスターがトレーを持ってコーヒーを運んでいる。<br>
<br>
別　所「売らないで思い出したけど占い…」<br>
マスター「あっ」<br>
　　　　　　マスターがコーヒーをこぼし、別所の靴にかかる。<br>
別　所「…占い当たってないわ」<br>
相　川「…」<br>
マスター「申し訳ございません」<br>
　　　　　　本当に申し訳なさそうに謝罪するマスター。<br>
マスター「あのぉ…クリーニング代お支払い致しますので…」<br>
別　所「いえ大丈夫です大丈夫です。この靴もう捨てようと思って<br>
　　　　たんで」<br>
相　川「お気に入りって言ってたくせに」<br>
マスター「ではせめて、今日のお代は結構ですので、どうかご勘弁を<br>
　　　　　…」<br>
相　川「えっほんとですか？やったー。占い当たってたじゃん」<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text15">
　　　　　　ペコペコ頭を下げながらキッチンに戻るマスターペコペコ。<br>
別　所「いや、いいことあるかもって、失ったもののほうが大きいか<br>
　　　　ら」<br>
相　川「あのおじいさんマスター、サンタクロースみたいじゃない<br>
　　　　？」<br>
別　所「そう？ヒゲだけじゃない。でもそういえばマッチ売りの少<br>
　　　　女も靴なくしてたよね」<br>
相　川「よし、じゃあやってみよう。火をつけながら理想の人」<br>
<br>
<br>
<span class="scene0">9</span>同<br>
　　　　　　しぶしぶマッチに火をつける別所。<br>
　　　　　　火がつく。<br>
<br>
相　川「はいどうぞ！」<br>
別　所「えー理想の人って言われてもなあ」<br>
相　川「じゃあまず年齢は？」<br>
別　所「そうだなー。年上がいいから２６から３０ぐらい？」<br>
相　川「え、もっと上いけるでしょ」<br>
別　所「それ以上年上ってなるともうおじさんじゃん？」<br>
相　川「ちなみにまーくん同い年だけどなんか子供っぽいというか、<br>
　　　　こないだ会社で使ってるプリンターのポルターガイスト感<br>
　　　　が怖いとか言って。なんか音するじゃんプリンターって、あ<br>
　　　　れが怖いらしくて夜電話…」<br>
別　所「あ、消えた。もうー変なのろけ話するから」<br>
相　川「じゃあ次ねー」<br>
<br>
<br>
<br>
<br>
<span class="scene10">10</span>同<br>
　　　　　　マッチ２本目。<br>
　　　　　　火をつける別所。<br>
相　川「見た目は？」<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text16">
別　所「うーん、爽やか系かなあ。身長１７５センチ以上で、スラッ<br>
　　　　としてるけど意外とマッチョで、髪型も長すぎず短すぎず、<br>
　　　　流行も追いかけすぎず取り残されすぎず、清潔感があって<br>
　　　　健康で、あまり喋りすぎず、自慢もしない、決して奢らせず、<br>
　　　　あらゆる私の話にうなずきながら、いつもニコニコしてよ<br>
　　　　く食べ」<br>
相　川「欲しがりか！！」<br>
別　所「笑」<br>
　　　　　　マッチの火が消える。<br>
別　所「笑わせないでよ。消えたじゃん」<br>
相　川「てかさ、あの人見ながら言ってない？」<br>
　　　　　　少し離れた席に、イケメンがひとり座っている。<br>
別　所「確かにちょっと気なってた」<br>
相　川「あれじゃない？占いのいいことって」<br>
別　所「まあ向こうが声かけてきて連絡先聞いてきたら考えない<br>
　　　　こともないけどね」<br>
相　川「じゃあ今の美幸の条件で検索してみようよ」<br>
　　　　　　アプリをひらく相川。<br>
相　川「あ、すっごいメッセージきてる」<br>
　　　　　　×　　×　　×<br>
　　　　　　メッセージBOX画面(インサート)<br>
　　　　　　大量のメッセージが届いている。スマホ上に表示。<br>
　　　　　　×　　×　　×<br>
別　所「ほんとだ。すごいねーこの短時間の間に」<br>
相　川「でもクリスマスイブに必死で相手探してる人ってちょっと<br>
　　　　怖くない？」<br>
別　所「かがんで。ブーメランが来てる」<br>
相　川「……」<br>
<br>
　　　　　　ヒュン！と相川の顔スレスレにブーメランが飛んでくる。<br>
　　　　　　そのまま壁に突き刺さるブーメラン（CG処理）。<br>
<br>
別　所「気をつけて」<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text17">
相　川「はい。あ、美幸の条件に当てはまりそうな人みつけたんだ<br>
　　　　けど、これさ」<br>
　　　　　　画面を見せる相川。<br>
　　　　　　×　　×　　×<br>
　　　　　　イケメンプロフィール画面(インサート)<br>
　　　　　　イケメンのプロフ。スマホ上に表示。<br>
　　　　　　×　　×　　×<br>
相　川「あの人に似てない？」<br>
　　　　　　離れた席のイケメン。<br>
別　所「そう言われてみればそうだけど、このタイプある種量産型<br>
　　　　だから、みんな同じように見えるよね」<br>
相　川「おばあちゃんみたいな事言うね」<br>
別　所「おばあちゃん子だったしね」<br>
相　川「マッチ売りの少女もおばあちゃん子だったよね確か」<br>
別　所「あれ最後どうなるんだっけ？」<br>
相　川「空想で出てきたおばあちゃんが消えないように全部のマッ<br>
　　　　チ棒を束にして燃やすんだよ。あ、マッチ棒クイズ出してあ<br>
　　　　げる」<br>
別　所「だから会話がとっちらかりすぎだって！」<br>
相　川「これ解いてね」<br>
<br>
<span class="scene10">11</span>同<br>
　　　　　　別所から見て「118=18」という計算式をマッチ棒で作る<br>
　　　　　　相川。<br>
相　川「ここから２本動かして式を成立させてください」<br>
別　所「２本ね。ダテにジグソーパズルやってないからね私」<br>
　　　　　　考える別所。<br>
<br>
<br>
　　　　　　マッチ棒を手に取り、色んな所に動かしてみる別所。<br>
相　川「ねえねえ、この人にさ、メッセージ送ってみない？」<br>
　　　　　　さっきのアプリの人を指す相川。<br>
別　所「なんて送るの？」<br>
　　　　　　マッチ棒クイズを考えながら答える別所。<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text18">
相　川「もしかして今、アンデルセンって喫茶店にいませんか？っ<br>
　　　　て。これでもしあの人なら運命だよ。おでこにマッチだよ」<br>
　　　　スマホを見ているイケメン。　<br>
別　所「それで別人だった場合、その人がこの店に来るかもじゃん。<br>
　　　　ヤバイ人だったらどうするの？」<br>
相　川「その時は全力で逃げようよ」<br>
　　　　　　別所、自分の足元を見る。<br>
　　　　　　コーヒーのシミができたスニーカー。<br>
別　所「（ため息）もういいよ。今日はいいことなんてないんだ。占<br>
　　　　いなんて当たらないよ。杏奈も本当はそう思ってんでしょ？」<br>
相　川「…」<br>
別　所「で？答えは？」<br>
相　川「どっちの？」<br>
別　所「マッチ棒に決まってるでしょ。占いなんて当たらないの」<br>
相　川「答えは、どっちも同じだよ」<br>
別　所「は？」<br>
　　　　　　マッチ棒を２本動かす相川。<br>
相　川「いいえ=NO。占いも当たる。いいことも、ある。」<br>
別　所「……なにその自信」<br>
<br>
<br>
<br>
<br>
　　　　　　別所の携帯に着信。<br>
　　　　　　飯田から。驚く別所。<br>
<br>
相　川「ほらね」<br>
別　所「ウソ…」<br>
相　川「私の負け〜。もし誘われたらさ、行ってもいいからね。早く<br>
　　　　出てあげな。トイレ行ってこよーっと」<br>
　　　　　　立ち上がりトイレに向かう相川。<br>
別　所「もしもし…」<br>
　　　　　　トイレに向かう途中、イケメンと目が合う相川。<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text19">
　　　　　　別所は少し高揚しながら電話をしている。<br>
　　　　　　マスター、コーヒーを飲みパイプを吸っている。（時間経過）<br>
<br>
<br>
<span class="scene10">12</span>同<br>
　　　　　　戻ってくる相川。<br>
　　　　　　まだ別所は電話をしている。<br>
別　所「いえ…ほんとになんでもないんです。あの…来週のシフト<br>
　　　　ちょっと忘れちゃってて。……はい。…それを確認したかった<br>
　　　　だけというか……」<br>
　　　　　　テーブルの上にマッチ棒で、相川に向かって見えるよう何<br>
　　　　　　かメッセージが書かれている。<br>
相　川「イ…イダト…イ？」（小声）<br>
<br>
<br>
別　所「そうですそうです。今日と明日私休みなの忘れてて、飯田<br>
　　　　さんにシフト変わってもらえないかなって…ははは…」<br>
相　川「飯田トイ？飯田…と…い…っしょにいたかった的な？マッ<br>
　　　　チ棒足りなくなった？」（小声）<br>
別　所「そうなんです。休みとってました私。…だからほんと…す<br>
　　　　みません。はい……はい、失礼します」<br>
　　　　　　通話を終えた別所。<br>
別　所「やっぱりいいことなんてないじゃん」<br>
相　川「飯田トイ？」<br>
別　所「飯田さん…おもちゃ屋さんに居た…」<br>
相　川「そのトイ！？つづり違うし！てか、え…クリスマスイブに<br>
　　　　おもちゃ屋さん居るってことは…」<br>
別　所「子ども居た」<br>
相　川「えええ！」<br>
別　所「子持ちだった…」<br>
相　川「えええええええ！！！」<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text20">
<span class="scene10">13</span>どこかのおもちゃ屋<br>
　　　　　　おもちゃ屋で子供とおもちゃを選ぶ飯田さんと、鬼嫁。<br>
飯田嫁「誰？電話」<br>
飯　田「え？あ、うん、なんかバイト先の子」<br>
飯田嫁「え、女？」<br>
飯　田「まあ、女っていうか…」<br>
飯田嫁「え、女なの？男なの？はっきり言いなさいよどっち！<br>
　　　　なんで濁すのよ」<br>
飯　田「別に濁してない」<br>
飯田嫁「ていうか、って言ったじゃないの。女、ていうかって何よ」<br>
飯　田「だから………バイト先の女の子だよ」<br>
飯田嫁「アンタ！！またなんかバイト先の女に手ェ出してんの！」<br>
飯　田「いや、してない！してないよ。するわけ無いじゃない」<br>
飯田嫁「あんた誰のおかげでバンド続けられてると思ってんの！<br>
　　　　あたしがちゃんと働いてるからでしょ！」<br>
飯　田「わかってるわかってます」<br>
<br>
<span class="scene10">14</span>純喫茶『アンデルセン』<br>
<br>
別　所「…ていうか…ちゃんとしろよ！飯田！」<br>
相　川「まあ、あの…子煩悩でいい人じゃん。ああ違う、まだほら、<br>
　　　　確定じゃないし、ほら…甥っ子とか…なんだったら自分のた<br>
　　　　めのおもちゃかもしれないし」<br>
別　所「アプリの人にメッセージ送る」<br>
相　川「うんそうしよ」<br>
別　所「その前に私もトイレ。てかトイレから送る」<br>
　　　　　　トイレに向かう別所。イケメンと目が合う。<br>
<br>
<span class="scene10">15</span>同<br>
　　　　　　時間経過。<br>
　　　　　　戻ってくる別所。相川は電話をしている。<br>
　　　　　　席につくと、相川は電話をしながらII田TOIからマッチ棒<br>
　　　　　　を動かし、別所に向けてメッセージを作る。<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text21">
<br>
相　川「うん………うん……」<br>
別　所「？…マッ…テル…？」（小声）<br>
相　川「……うん………」<br>
別　所「待ってるだけじゃ幸せは来ない…って言ってたなそういえ<br>
　　　　ば」（小声）<br>
相　川「……………」<br>
別　所「違う。エムエー…テル。まーくんから電話ってこと？ん？」<br>
　　　（小声）<br>
相　川「……………」<br>
　　　　　　口数が減り、様子がおかしいことに気づく別所。<br>
別　所「…そっか…うん……うん」<br>
　　　　　　MATELから２本動かす相川。<br>
相　川「……………もう……ダメなんだよね………」<br>
別　所「ナ…イテイイ…泣いていい？…！？……え…ウソ」（小声）<br>
別　所「…」<br>
相　川「……………うん、ありがとう…………じゃあねまーくん…<br>
　　　　さよなら」<br>
　　　　　　通話を終える相川。<br>
相　川「やっぱダメだったー。フラれちゃった。ハハハ」<br>
　　　　　　気丈に笑顔で答える相川。<br>
別　所「……」<br>
相　川「なーんか私達、今日はダメみたいだね。あーあ。もうパーっ<br>
　　　　と美味しいものでも食べに行こっか！」<br>
　　　　　　別所、テーブルのマッチを指差す。<br>
相　川「…」<br>
別　所「…」<br>
相　川「…」<br>
　　　　　　相川の表情が崩れ出す。<br>
別　所「泣いていい。」<br>
　　　　　　相川、涙が溢れ出す。<br>
　　　　　　顔を覆い、声を抑えながら、それでも隠しきれない嗚咽が<br>
　　　　　　漏れる。<br>
　　　　　　別所は相川の手をギュッと握る。<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text22">
　　　　　　カウンターからその様子を伺うマスター。<br>
　　　　　　店の奥へ消える。<br>
マスター「…」<br>
<br>
<br>
<span class="scene10">16</span>同<br>
　　　　　　少し落ち着いた相川。<br>
相　川「…ごめん」<br>
別　所「大丈夫」<br>
　　　　　　その時イケメンが席を立ち上着を着ている。それに気づ<br>
　　　　　　く２人。<br>
相　川「あ！アプリの人にメッセージ送ったの？」<br>
別　所「うん。さっき杏奈が言ったように『もしかして今、アンデル<br>
　　　　センって喫茶店にいませんか？』って」<br>
　　　　　　こっちに向かって歩いてくるイケメン。<br>
　　　　　　二人のことを見る。<br>
二　人「……！！」<br>
　　　　　　イケメン立ち止まり。そして２人から視線を外し、<br>
イケメン「おせーよ！」<br>
　　　　　　入り口の方を二人同時に振り返る。<br>
　　　　　　店の入り口で女の子が謝るポーズをしている。<br>
　　　　　　レジへ向かうイケメン。<br>
　　　　　　スマホを取り出し、アプリをひらく別所。<br>
　　　　　　メッセージの返事がきている。<br>
別　所「見て」<br>
<br>
<span class="scene10">17</span>同<br>
　　　　　　メッセージBOX画面(インサート)<br>
ENDO『アンデルセン？？どこですかそれ？？<br>
　　　　それより、実はちょうど今、他に気の合う人が見つかっちゃ<br>
　　　　たんです！連絡くれたのにごめんなさい！<br>
　　　　あなたにもいいことがありますように！！！！』<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text23">
　　　　　　お互い顔を見合わせる。<br>
別　所「全っっ然、ちがう人じゃん！しかもフラれたじゃん！」<br>
相　川「あれ？さっきもフラれてなかったっけ？バンドマンに」<br>
別　所「うるせーよ、お互い様でしょ！」<br>
相　川「笑」<br>
別　所「笑」<br>
　　　　　　笑顔の２人。<br>
相　川「美幸。なんかごめんね。いいことあるなんて、無責任なこ<br>
　　　　と言って」<br>
別　所「本当だよ。フラれたし」<br>
相　川「ははは」<br>
別　所「でも、……ちゃんといいこともあった」<br>
相　川「え、何」<br>
　　　　　　マスターが席にやってくる。トレーからテーブルに何か<br>
　　　　　　を乗せる。<br>
マスター「あの〜先程のお詫びといってはなんですが…よろしければ<br>
　　　　　どうぞ」<br>
　　　　　　ハンバーグ。ペレットもある。<br>
別　所「わ、いいんですか？美味しそ～」<br>
相　川「あ、いいことってこれ？」<br>
別　所「んーこれもそうだけど…杏奈と、ちゃんと仲良くなれたこ<br>
　　　　と」<br>
　　　　　　驚く相川。<br>
別　所「なんだかんだ、似たもの同士なんだよ私達」<br>
　　　　　　満面の笑みで答える相川。<br>
相　川「そうかもね。じゃあ今日は女同士楽しも。ねえマスター」<br>
マスター「ええ、お二人とても仲良さそうです」<br>
　　　　　　NAITEIIからマッチ棒を２本動かすマスター。<br>
マスター「ほら」<br>
　　　　　　マスターは外を指差す。二人は見る。<br>
　　　　　　窓の外ではいつのまにか雪が降っていた。<br>
　　　　　　それを見て店内の皆が笑っている。<br>
マスター「メリークリスマス」<br>
</div>
<!-- text -->

<!-- text -->
<div class="text text24">
　　　　　　二人、目を合わせ、微笑み、<br>
二　人「……メリークリスマス」<br>
　　　　　　笑う二人。<br>
　　　　　　談笑しながら、ハンバーグを食べる。<br>
<br>
<span class="scene10">18</span>同<br>
<br>
　　　　　　音楽が流れる（以降、エピローグ＆クレジット）<br>
　　　　　　外では雪が降っている。<br>
　　　　　　いつのまにか店内の照明も煌びやかになり、店のどこか<br>
　　　　　　でLUCKYTAPESのメンバーが演奏している。<br>
　　　　　　楽しそうに談笑している相川と別所。<br>
　　　　　　店内のお客さん達も楽しそうに過ごす。<br>
　　　　　　演奏は続く（ラストサビへ）<br>
　　　　　　サンタクロースの格好をしたマスターが登場。<br>
　　　　　　白い紙吹雪を店内に撒き散らす。<br>
　　　　　　すると店中に舞い散る紙吹雪。<br>
　　　　　　驚く二人、楽しくなり立ち上がる、そして騒ぐ。<br>
　　　　　　店内は雪の降る祝祭のよう。　　　　　　　（おしまい）<br>
<br>
</div>
<!-- text -->

			</div>
			</div>
			</div>

			<div class="arrow arrowl"><%- include('../../../../dist/assets/resource/img_sp/sec08/left_btn.svg'); %></div>
			<div class="arrow arrowr"><%- include('../../../../dist/assets/resource/img_sp/sec08/right_btn.svg'); %></div>

			<div class="ui">
				<div class="bar"><div class="barIn"></div></div>
				<div class="ball"><div class="ballIn"></div></div>
				<div class="num flex">
					<div class="cur">1</div>
					<div class="str">/</div>
					<div class="total">48</div>
				</div>
			</div>

		</div>

	</div>
	
	<!-- box -->	
	<div class="box">

		<div class="img scrollBox"></div>

	</div>
	
	<!-- box -->	
	<div class="box">

		<div class="bannerWrapW">

		</div>

		<div class="bannerWrapW scrollBox">
		
			<div class="bannerWrap hover_op">
			<div class="in">
				<div class="lineBoxWrap" data-color="2"></div>
				<a href="http://www.lumine.ne.jp/christmas2018/" class="blank"><div class="banner banner03"></div></a>
			</div>
			</div>

		</div>

	</div>

</div>	