<!-- ************************************************************
//  block04
// ************************************************************ -->
<div class="block block04">

	<!-- box -->	
	<div class="box">

		<div class="rect rect01"></div>
		<div class="rect rect02"></div>
		<div class="rect rect03"></div>

		<div class="titWrap">
		<div class="titInner">
			<div class="tit">CAST</div>
			<div class="text">キャスト</div>
		</div>
		</div>

		<div class="boxInWrap">
	
			<!-- boxInner -->
			<div class="boxInner boxInner01 scrollBox">
				<div class="lineBoxWrap" data-color="1"></div>
				<div class="img"></div>
				<div class="subText subText01"><div class="in">沈黙を嫌うOL</div></div>
				<div class="subText subText02"><div class="in">相川杏奈</div></div>
				<div class="tit"><div class="in">中村ゆりか</div></div>
				<div class="text">
					失礼なことを言っても許される人生を送ってきた。長く付き合っている彼氏と上手くいっていない。
				</div>
			</div>
		
			<!-- boxInner -->
			<div class="boxInner boxInner02 scrollBox">
				<div class="lineBoxWrap" data-color="1"></div>
				<div class="img"></div>
				<div class="subText subText01"><div class="in">嘘がつけないフリーター</div></div>
				<div class="subText subText02"><div class="in">別所美幸</div></div>
				<div class="tit"><div class="in">岸井ゆきの</div></div>
				<div class="text">
					素直な性格で損をすることも多い。物怖じしないタイプだが、好きな人とだけは上手く話せない。絶賛片思い中。
				</div>
			</div>

		</div>

		<!-- boxInner -->
		<div class="boxInner boxInner03 scrollBox">
			<div class="lineBoxWrap" data-color="1"></div>
			<div class="textsWrap">
				<div class="texts flex">
					<div class="text">嶺豪一</div>
					<div class="text">笠松将</div>
				</div>
				<div class="texts flex">
					<div class="text">川上友里</div>
					<div class="text">水石亜飛夢</div>
				</div>
				<div class="texts flex"><div class="text">山根愛</div></div>
			</div>
			<div class="bar"></div>
			<div class="texts flex"><div class="text">でんでん</div></div>
		</div>

	</div>

</div>	