<!-- ************************************************************
//  block03
// ************************************************************ -->
<div class="block block03">

	<!-- box -->	
	<div class="box">

		<div class="titWrap">
		<div class="titInner">
			<div class="tit">INTRODUCTION</div>
			<div class="text">イントロダクション</div>
		</div>
		</div>

		<div class="boxInner">
			<div class="lineBoxWrap scrollBox"></div>
			<div class="img scrollBox"></div>
			<div class="tits scrollBox">
				<div class="tit"><%- include('../../../../dist/assets/resource/img_sp/sec03/text1.svg'); %></div>
				<div class="tit"><%- include('../../../../dist/assets/resource/img_sp/sec03/text2.svg'); %></div>
			</div>
			<div class="text scrollBox">
				<div class="textIn">
					「セトウツミ」の天才漫画家、此元和津也による初のオリジナル実写脚本。新世代の実力派女優、中村ゆりか、岸井ゆきのによるW主演。
				</div>
				<div class="textIn">
					１２月２４日。フリーターの別所美幸（岸井ゆきの）に誘われて喫茶「アンデルセン」でお茶をすることになったOLの相川杏奈（中村ゆりか）。
					マッチに火が灯され、二人の関係は変化していく。<br>
					一人ぼっちと一人ぼっちが二人で過ごすクリスマスイブは、ハッピーエンドになるのだろうか<span>ーーーー</span>
				</div>
			</div>
		</div>

	</div>
	
	<!-- box -->
	<div class="box">
		<div class="img scrollBox"></div>
	</div>

</div>	