@charset "utf-8";

/* --------------------------------------------------------------------------------
*   common
-------------------------------------------------------------------------------- */
@import "./_init/import";
@import "./_init/reset"; // リセットCSS、フォントサイズ sss

/* --------------------------------------------------------------------------------
*   parts
-------------------------------------------------------------------------------- */
@import "./_parts/_common/**/*.scss";
@import "./_parts/_compornents/**/*.scss";

/* --------------------------------------------------------------------------------
*   page
-------------------------------------------------------------------------------- */
html {
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 999999 !important;
}

#wrapper.id_top {

  .text {
    width: 680px;
    height: 600px;    
  }
  
}