<!-- ************************************************************
//
//  header
//
// ************************************************************ -->
<header id="header">
  <div class="header__inner">
    <div class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/">TOP</a>
        </li>
        <li class="nav__item">
          <a href="/about">ABOUT</a>
        </li>
        <li class="nav__item">
          <a href="/works">WORKS</a>
        </li>
      </ul>
    </div>
  </div>
</header>
