/* --------------------------------------------------------------------------------
*
*   triangle
*
-------------------------------------------------------------------------------- */

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent #eee transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.triangle.over {
    z-index: 2;
}

/* --------------------------------------------------------------------------------
*
*   circle
*
-------------------------------------------------------------------------------- */
.circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #000;
}

/* --------------------------------------------------------------------------------
*
*   bar
*
-------------------------------------------------------------------------------- */
.bar_obj {
    width: 100px;
    height: 1px;
    background-color: #000;
}

/* --------------------------------------------------------------------------------
*
*   rect
*
-------------------------------------------------------------------------------- */
.rect {
  width: 100px;
  height: 100px;
  background-color: #000;
}

.diamond {
  width: 100px;
  height: 100px;
  background-color: #000;
  
  transform: rotate(45deg);  
}