<!-- ************************************************************
//
//  header
//
// ************************************************************ -->
<% const menu = ["Work", "About", "Workflow", "Contact"] %>
<header id="header">
  <div class="header__inner">
    <div class="header__list">
      <% for (let i = 0; i < menu.length; i++) { if(i == 0) {%>
      <div class="header__item js-menu_item is-active">
        <a href=""><%- menu[i] %></a>
      </div>
      <%} else {%>
      <div class="header__item js-menu_item">
        <a href=""><%- menu[i] %></a>
      </div>
      <%} }%>
    </div>
    <div class="bar js-menu_bar"></div>
  </div>
</header>
