<!-- ************************************************************
//  block06
// ************************************************************ -->
<div class="block block06">

	<!-- pipe -->
	<div class="pipe"><img src="./assets/resource/img_sp/box.png" alt="" class="responsiveImg"></div>
	
	<!-- tit -->
	<div class="tit"><%- include('../../../../dist/assets/resource/svg/creator.svg'); %></div>

	<div class="box flex">

		<div class="boxInner">

			<!-- img -->
			<div class="profile"><img src="./assets/resource/img_sp/prof.png" alt="" class="responsiveImg"></div>

		</div>

		<div class="boxInner">

			<!-- balloon -->
			<div class="balloon">
				<div class="textWrap">
					<div class="text">毎年クリスマスが来ると、1年の締めくくりに楽しい気分になります。</div>

					<div class="text">
						今年のルミネで過ごすクリスマスは、この1年の良いことも悪いことも<br class="pc">
						ハッピーな思い出に変えてくれる工場のような場所。そんな工場に見立ててビジュアルを作りました。この様々な仕掛けが詰まった楽しいビジュアルを、３Dで表現しています。
					</div>
					
					<div class="text">実際の各店舗にも、エントランスをはじめ館内の色々なところに工場の仕掛けがあるので是非、探してみてください。</div>
				</div>
			</div>

			<div class="textWrap">
				<div class="bar bar01"></div>
				<div class="tit">豊田 遼吾（Ryogo Toyoda）</div>
				<div class="text">
					1986年生まれ。3Dイラストレーター。<br>
					3Dイラストを軸に国内外の広告・キャラクターデザイン・映像を手掛ける。<br>
					過去にGoogle、YouTube、Warner Bros. Movie World、Adobe、doubletなどにアートワークを提供。<br>
					著書『CINEMA4Dクリエイターズバイブル』はAmazonのCG書籍カテゴリにてベストセラー1位を記録。<br>
				</div>
				<a class="link hover_op blank" href="http://rgtd.net/">
					http://rgtd.net/
					<div class="bar"></div>
				</a>
				<div class="bar bar02"></div>
			</div>

		</div>

	</div>

	<!-- img -->
	<div class="imgsWrap">
<!-- 			<div class="imgs">
			<div class="img"><img src="./assets/resource/img_sp/frame.png" alt=""></div>
			<div class="img"><img src="./assets/resource/img_sp/frame.png" alt=""></div>
			<div class="img"><img src="./assets/resource/img_sp/frame.png" alt=""></div>
		</div> -->
		<div class="sns">
			<img src="./assets/resource/img_sp/sns_footer.png" alt="">

			<!-- for hover -->
			<div class="covers">
				<div class="cover"></div>
				<div class="cover"></div>
				<div class="cover"></div>
			</div>
			
			<!-- for linkarea -->
			<div class="items flex">
				<div class="item fbShare"></div>
				<div class="item twShare"></div>
				<div class="item lineShare"></div>
			</div>
		</div>
	</div>


	<!-- toTop -->
	<div class="toTopWrap">
		<div class="toTop toScroll" data-link="#wrapper"><img src="./assets/resource/img_sp/toTop.png" alt=""></div>
		<div class="img"><div class="imgIn"><img src="./assets/resource/img_sp/toTopBg.png" alt="" class="responsiveImg"></div></div>
	</div>
		
</div>	