<!-- ************************************************************
//  block01
// ************************************************************ -->
<div class="block block01">

	<div class="bg"></div>

	<div class="tit"><%- include('../../../../dist/assets/resource/svg/logo.svg'); %></div>

</div>	