<!-- ************************************************************
//  section01
// ************************************************************ -->

<div class="wrap">
  <div class="list">
    <div class="list__inner js-list_inner">
      <% for (let i = 0; i < 9; i++) { %>
      <div class="list__item js-list_item">
        <img src="./assets/resource/img/<%= i + 1 %>.jpg" alt="" />
      </div>
      <% } %>
    </div>
  </div>
</div>
