<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section section01">

	<div class="titWrap hidePage">
		<div class="tit"><%- include('../../../../dist/assets/resource/svg/tour/tit.svg'); %></div>
	</div>

	<div class="text hidePage">
		アメリカ・ケンタッキー州にある<br>ジムビームのクレアモント蒸溜所を<br>ＶＲで見学。<br>
		歴代マスター・ディスティラーの<br>手引きでジム・ビームの歴史と<br>製造の秘密を迫ります。
	</div>

	<div class="img hidePage"><a href="https://www.youtube.com/watch?v=9UzILzMJnQE" class="notTransition"><img src="<%- PATH %>assets/resource/img/youtube.png" alt=""></a></div>

	<div class="toTop tapBtns hidePage"><a href="/" data-color="toTop"><%- include('../../../../dist/assets/resource/svg/tour/toTop.svg'); %></a></div>

</div>