<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section">
  <div class="textbox">
    <div class="text js-textsplit_txt">HELLO<br />WORLD!!</div>
  </div>
  <div class="textbox">
    <div class="text js-textsplit_txt">HELLO</div>
  </div>
  <div class="textbox">
    <div class="text js-textsplit_txt">HELLO WORLD</div>
  </div>
</div>
