<!-- ************************************************************
//
//  header
//
// ************************************************************ -->
<header id="header">

	<div class="sns">

		<div class="chain chainl"><img src="./assets/resource/img_sp/chain_left.png" alt=""></div>
		<div class="chain chainr"><img src="./assets/resource/img_sp/chain_right.png" alt=""></div>
		<!-- <img src="./assets/resource/img_sp/sns.png" alt="" class="base"> -->
		<img src="./assets/resource/img_sp/sns_light.png" alt="" class="light">
		<!-- <img src="./assets/resource/img_sp/sns_light_on.png" alt="" class="light on"> -->
	
		<!-- for hover -->
		<div class="covers">
			<div class="cover"></div>
			<div class="cover"></div>
			<div class="cover"></div>
		</div>
	
		<!-- for linkarea -->
		<div class="items flex">
			<div class="item fbShare"></div>
			<div class="item twShare"></div>
			<div class="item lineShare"></div>
		</div>
		
	</div>

</header>