<!-- ************************************************************
//  block02
// ************************************************************ -->
<div class="block block02">

	<div class="pipe"><img src="./assets/resource/img_sp/pipe01.png" alt="" class="responsiveImg"></div>
	
	<!-- bg -->
	<div class="bgs">
		<div class="bgWrap"><div class="bg parallaxImg"></div></div>
		<div class="bgWrap"><div class="bg parallaxImg"></div></div>
		<div class="bgWrap"><div class="bg parallaxImg"></div></div>
	</div>

	<!-- item -->
	<div class="items itemParallax">
		<div class="item item01"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item01_01.png" alt=""></div></div></div>
		<div class="item item02"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item01_02.png" alt=""></div></div></div>
		<div class="item item03"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item01_03.png" alt=""></div></div></div>
		<div class="item item04"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item01_04.png" alt=""></div></div></div>
		<div class="item item05"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item01_05.png" alt=""></div></div></div>
	</div>

	<div class="inner">
	
		<!-- tit -->
		<div class="tit"><%- include('../../../../dist/assets/resource/svg/tit.svg'); %></div>
		<!-- text -->
		<div class="text"><%- include('../../../../dist/assets/resource/svg/text.svg'); %></div>
		<!-- logo -->
		<div class="logo"><%- include('../../../../dist/assets/resource/svg/logo.svg'); %></div>

	</div>

</div>	
