<!-- ************************************************************
//
//  footer
//
// ************************************************************ -->
<footer id="footer">
	  	
	  <div class="copy"><%- include('../../../../dist/assets/resource/svg/common/copy.svg'); %></div>

</footer>
