<!-- ************************************************************
//
//  menu
//
// ************************************************************ -->
<div id="menu" class="menu_contents">
<div class="inner">

	<div class="list">
		<div class="item toScroll" data-link=".block02">MOVIE</div>
		<div class="item toScroll" data-link=".block03">INTRODUCTION</div>
		<div class="item toScroll" data-link=".block04">CAST</div>
		<div class="item toScroll" data-link=".block06">MUSIC</div>
		<div class="item toScroll" data-link=".block07">STAFF</div>
		<div class="item toScroll" data-link=".toSpecial">SPECIAL</div>
	</div>

	<div class="sns">
		<div class="tit">SHARE</div>
		<div class="items flex">
			<div class="item twShare"><svg viewBox="0 0 14 14"><use xlink:href="#icon-twitter"></use></svg></div>
			<div class="item fbShare"><svg viewBox="0 0 14 14"><use xlink:href="#icon-facebook"></use></svg></div>
			<div class="item lineShare"><svg viewBox="0 0 14 14"><use xlink:href="#icon-line"></use></svg></div>
		</div>
	</div>

</div>
</div>

