@charset "UTF-8";
html {
  font-size: 62.5%;
  /* 16px*62.5%=10px */
}

body {
  color: #333333;
  font-size: 1.6rem;
  /* 10px*1.6=16px; */
  letter-spacing: 0.1em;
  font-family: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic",Osaka,sans-serif,Helvetica,Helvetica Neue,Arial,Verdana;
  background-color: #ffffff;
}

html, body {
  height: 100%;
  min-height: 100%;
}

ol, ul {
  list-style: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  color: #333333;
}

a:link, a:visited, a:hover, a:active {
  color: #333333;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 400;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* padding,marginがない要素もあるので、絞って内部・外部余白をリセット */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, figure, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* テーブルのボーダーを一本化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 古いブラウザで起こりがちな画像の周りにブルーの線がつくのを防ぐ */
fieldset, img {
  border: 0;
}

.wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.text {
  font-size: 5rem;
  font-weight: bold;
}
