// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

.wrapper {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	padding-top: 100px;
}

.text {
	font-size: 5rem;
	font-weight: bold;
}

