<!-- ************************************************************
//
//  landscape
//
// ************************************************************ -->
<div id="landscape" class="">
	
	<div class="logo"><%- include('../../../dist/assets/resource/svg/common/logo.svg'); %></div>

	<div class="box">
		<div class="tit"><%- include('../../../dist/assets/resource/svg/common/text_landscape.svg'); %></div>
		<div class="img"><%- include('../../../dist/assets/resource/svg/common/landscape.svg'); %></div>
	</div>

</div>
