@charset "UTF-8";

@import "base/mixin";
@import "base/common";
//デバイス定義
$type: sp tb pc;
@import "base/base";
@import "freshers/common/bs";
@import "freshers/project/bs";
/* PC
-------------------------------------------------- */
@media only screen and (min-width:$pcSize) {
	$type: pc;
	@import "freshers/common/pc";
	@import "freshers/project/pc";

}
/* タブレット
-------------------------------------------------- */
@media only screen and (max-width: 1024px) {
	$type: tb;
	@import "freshers/common/tb";
	@import "freshers/project/tb";
}
/* スマホ
-------------------------------------------------- */
@media only screen and (max-width:$spSize) {
	$type: sp;
	@import "base/base_sp";
	@import "freshers/common/sp";
	@import "freshers/project/sp";
}
