<!-- ************************************************************
//
//  header
//
// ************************************************************ -->
<% const menu = ["Work", "About", "Workflow", "Contact"] %>

<div class="nav">
  <ul class="nav__list">
    <li class="nav__item"><a href="/">top</a></li>
    <li class="nav__item"><a href="/about">about</a></li>
  </ul>
</div>
