<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section section01">
  <div class="formarea">
    <form action="">
      <div class="inner">
        <ul class="list">
          <li class="item">
            <label class="must" for="name">名前</label>
            <div class="inputwrap">
              <input
                type="text"
                name="name"
                id="name"
                placeholder="山田太郎"
                class="required"
              />
            </div>
          </li>
          <!-- <li class="item">
            <label for="job">職業</label>
            <div class="inputwrap">
              <input
                type="text"
                name="job"
                id="job"
                placeholder="CEO"
                class="required"
              />
            </div>
          </li>
          <li class="item">
            <label for="tel">電話番号</label>
            <div class="inputwrap">
              <input
                type="tel"
                name="tel"
                id="tel"
                placeholder="0798888888"
                class="required"
              />
            </div>
          </li>
          <li class="item">
            <label class="must" for="email">メールアドレス</label>
            <div class="inputwrap">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="abc@gmail.com"
                class="required"
              />
            </div>
          </li>

          <li class="item">
            <label for="comment">お問い合わせ内容</label>
            <div class="inputwrap">
              <textarea
                placeholder="お問い合わせ内容"
                name="comment"
                id="comment"
                class="must required"
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </li> -->
        </ul>

        <div class="checkarea"></div>

        <div class="btnarea">
          <div class="btnwrap">
            <input type="submit" value="送信する" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- name: サーバーでどの要素のことか特定 -->
<!-- id: ラベルとひもづけ -->
<!-- type: キーボード設定 -->
<!-- type="submit"のvalue: ボタンのテキスト -->
