.wrap {
  padding: 10vw 0px 5vw;
  position: relative;
}

.bg {
  background-image: url(../../../public/svg/service_bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 600px;
  height: 900px;
  position: absolute;
  top: 300px;
  right: 0;
  // z-index: -1;
}

.inner {
  max-width: 1280px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  margin: 0 auto;
}

.titlewrap {
  text-align: center;
}

.leadarea {
  margin-top: 32px;
  text-align: center;
}

.list {
  width: 50%;
}

.item {
  &:nth-child(n + 2) {
    margin-top: 36px;
  }
}

.itemTxt {
  font-size: 18px;
  letter-spacing: 0.08em;

  line-height: 1.75;
  white-space: pre-line;
}

.contents {
  margin-top: 5vw;
}
